<!-- Área de búsqueda -->
<!-- <div class="search-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 search-row-col">
        <div class="input-group search-border">
          <form class="form-row" style="width: 100%;">
            <div class="col-11">
              <div class="input-group-prepend">
                <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{filter.short_name}}</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" *ngFor="let filter of filters" 
                    (click)="changeFilter(filter)">{{filter.nombre}}</a>
                </div>
                <input type="search" id="searchInput" class="form-control" aria-label="Buscar..." placeholder="Buscar...">
              </div>
            </div>
            <div class="col-1">
              <button class="btn btn-link float-right">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Fin área de búsqueca-->

<!-- Area de resultados -->
<div class="result-area" (scroll)="scrollHandler($event)" id="propertyResultArea" #propertyResultArea>
  <div class="container-fluid" *ngIf="propiedades">
    <div class="row">

      <!-- Tarjeta de inmueble -->
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let propiedad of propiedades">
        <div class="card">
          <div class="image-viewport">
            <!-- Imagen por default -->
            <img *ngIf="!propiedad.urlsFotografias || propiedad.urlsFotografias.length === 0"
              src="../../../assets/images/departamento-img.jpg" alt="..." [routerLink]="['/admin/estate', propiedad.id]"> 
            <!-- end Imagen por default -->
            <!-- Primera imagen de la propiedad -->
            <img *ngIf="propiedad.urlsFotografias && propiedad.urlsFotografias.length > 0"
              [src]="propiedad.urlsFotografias[0]" alt="..." [routerLink]="['/admin/estate', propiedad.id]"> 
            <!-- Fin primera imagen de la propiedad -->
            <div class="propiedad-precio-renta" *ngIf="propiedad.precioRenta && propiedad.precioRenta > 0">
              <span class="titulo">{{propiedad.tipoPropiedad}} en renta</span>
              <span>{{propiedad.precioRenta | currency}} / mes</span>
            </div>
            <div class="propiedad-precio-venta" *ngIf="propiedad.precioVenta && propiedad.precioVenta > 0">
              <span class="titulo">{{propiedad.nombre}}</span>
              <span>{{propiedad.precioVenta | currency}}</span>
            </div>
          </div>

          <div class="card-body">
            <h5 class="card-title">{{propiedad.nombre}}</h5>
            <p class="card-text">{{propiedad.descripcion}}</p>
          </div>
          <a href="#" class="btn btn-link" [routerLink]="['.', propiedad.id]" >Detalle</a>
          <div class="propiedad-estatus-area">
            <i class="fas fa-check-double" *ngIf="propiedad.estatus && propiedad.estatus === 'activo'" style="color: green;"></i>
            <i class="fas fa-check" *ngIf="!propiedad.estatus || propiedad.estatus !== 'activo'"  style="color: blue;"></i>
          </div>
        </div>
      </div>
      <!-- Fin tarjeta de inmueble -->

    </div>
  </div>
  <div style="margin-bottom: 102px;"></div>
</div>
<button id="add-property-button" class="btn btn-link" routerLink="/admin/agregar/propiedad">
  <i class="fas fa-plus"></i>
</button>
<!-- Fin area de resultados -->