.propiedad-detalle-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 999;
    overflow: hidden;

    .top-navigation {
        color: white;
        background-color: #87b23e;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 9px 12px;
        min-height: 54px;
        max-height: 54px;
        z-index: 999;
        -webkit-box-shadow: 0px 10px 39px -17px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 10px 39px -17px rgba(0,0,0,0.75);
        box-shadow: 0px 10px 39px -17px rgba(0,0,0,0.75);
        
        .container-fluid {
            padding-right: 0;
            padding-left: 0;
        }

        button {
            color: white;
        }

        .title {
            text-align: center;
            padding: 6px 12px;
        }
    }

    .working-area {
        background-color: #EBEBEB;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        min-height: 100vh;
        max-height: 100vh;
        padding-top: 54px;
        padding-bottom: 20px;
        

        .container-fluid {
            padding-right: 5px;
            padding-left: 5px;
        }
    }
}
