<div class="propiedad-detalle-area">

  <div class="container-fluid">

    <!-- Titulo resumen -->
    <div class="row">
      <div class="col-12">
        <div class="resumen-nombre-propiedad">
          <div class="barra-verde"></div>
          <span>{{(propiedad | async)?.nombre}}</span>
        </div>
      </div>
    </div>
    <!-- Fin titulo resumen -->

    <!-- Carousel de fotos -->
    <div class="row">
      <div class="col-12">
        <div id="carouselComponent" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" *ngFor="let url of (propiedad | async)?.urls_fotografias; let i=index;"
              [ngClass]="{ 'active': i === 0 }">
              <img [src]="url" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselComponent" role="button" data-slide="prev">
            <i class="fas fa-chevron-left"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselComponent" role="button" data-slide="next">
            <i class="fas fa-chevron-right"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Fin carousel de fotos -->

    <!-- Área de precios -->
    <div class="row">
      <div class="col" *ngIf="((propiedad | async)?.precio_venta) as precio_venta">
        <div class="resumen-display-de-precio text-center">
          <div class="titulo">
            <span>Precio en venta</span>
          </div>
          <div class="precio">
              <span>{{precio_venta | currency:'MXN'}}</span>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="((propiedad | async)?.precio_renta) as precio_renta">
        <div class="resumen-display-de-precio text-center">
          <div class="titulo">
            <span>Precio en renta</span>
          </div>
          <div class="precio">
            <span>{{precio_renta | currency:'MXN'}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin área de precios -->

    <!-- Área de dirección -->
    <div class="resumen-display-direccion" *ngIf="((propiedad | async)?.direccion) as direccion">
      <div class="row" *ngIf="direccion != ''">
        <div class="col-sm-12 col-md-2">
          <div class="titulo">
            <span>Dirección</span>
          </div>
        </div>
        <div class="col-sm-12 col-md-10">
          <div class="direccion">
            <span>{{direccion}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin área de dirección-->

    <!-- Área de detalles -->
    <div class="row">
      <div class="col" *ngIf="((propiedad | async)?.tipo_propiedad) as tipo_propiedad">
        <div class="resumen-display-detalle" *ngIf="tipo_propiedad != ''">
          <div class="icono">
            <i class="far fa-question-circle"></i>
          </div>
          <div class="nombre-detalle">
            <span>Tipo de propiedad</span>
          </div>
          <div class="valor-detalle">
            <span>{{tipo_propiedad}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="((propiedad | async)?.nombre) as nombre">
        <div class="resumen-display-detalle" *ngIf="nombre != ''">
          <div class="icono">
            <i class="fas fa-signature"></i>
          </div>
          <div class="nombre-detalle">
            <span>Nombre</span>
          </div>
          <div class="valor-detalle">
            <span>{{nombre}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="((propiedad | async)?.m2_construccion) as m2_construccion">
        <div class="resumen-display-detalle" *ngIf="m2_construccion && m2_construccion > 0">
          <div class="icono">
            <i class="fas fa-hammer"></i>
          </div>
          <div class="nombre-detalle">
            <span>M2 Construcción</span>
          </div>
          <div class="valor-detalle">
            <span>{{m2_construccion}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="((propiedad | async)?.recamaras) as recamaras">
        <div class="resumen-display-detalle" *ngIf="recamaras && recamaras > 0">
          <div class="icono">
            <i class="fas fa-bed"></i>
          </div>
          <div class="nombre-detalle">
            <span>Recámaras</span>
          </div>
          <div class="valor-detalle">
            <span>{{recamaras}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="((propiedad | async)?.banos) as banos">
        <div class="resumen-display-detalle" *ngIf="banos && banos > 0">
          <div class="icono">
            <i class="fas fa-shower"></i>
          </div>
          <div class="nombre-detalle">
            <span>Baños</span>
          </div>
          <div class="valor-detalle">
            <span>{{banos}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="((propiedad | async)?.medios_banos) as medios_banos">
        <div class="resumen-display-detalle" *ngIf="medios_banos && medios_banos > 0">
          <div class="icono">
            <i class="fas fa-toilet"></i>
          </div>
          <div class="nombre-detalle">
            <span>Medios Baños</span>
          </div>
          <div class="valor-detalle">
            <span>{{medios_banos}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="((propiedad | async)?.cajones_estacionamiento) as cajones_estacionamiento">
        <div class="resumen-display-detalle" *ngIf="cajones_estacionamiento && cajones_estacionamiento > 0">
          <div class="icono">
            <i class="fas fa-car"></i>
          </div>
          <div class="nombre-detalle">
            <span>Cajones de estacionamiento</span>
          </div>
          <div class="valor-detalle">
            <span>{{cajones_estacionamiento}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="((propiedad | async)?.m2_terreno) as m2_terreno">
        <div class="resumen-display-detalle" *ngIf="m2_terreno && m2_terreno > 0">
          <div class="icono">
            <i class="far fa-square"></i>
          </div>
          <div class="nombre-detalle">
            <span>M2 Terreno</span>
          </div>
          <div class="valor-detalle">
            <span>{{m2_terreno}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="((propiedad | async)?.niveles) as niveles">
        <div class="resumen-display-detalle" *ngIf="niveles > 0">
          <div class="icono">
            <i class="fas fa-align-justify"></i>
          </div>
          <div class="nombre-detalle">
            <span>Niveles (pisos)</span>
          </div>
          <div class="valor-detalle">
            <span>{{niveles}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="((propiedad | async)?.tiempo_minimo_renta) as tiempo_minimo_renta">
        <div class="resumen-display-detalle" *ngIf="tiempo_minimo_renta && tiempo_minimo_renta > 0">
          <div class="icono">
            <i class="far fa-calendar-alt"></i>
          </div>
          <div class="nombre-detalle">
            <span>Tiempo mínimo renta (meses)</span>
          </div>
          <div class="valor-detalle">
            <span>{{tiempo_minimo_renta}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="((propiedad | async)?.capacidad_cisterna) as capacidad_cisterna">
        <div class="resumen-display-detalle" *ngIf="capacidad_cisterna && capacidad_cisterna > 0">
          <div class="icono">
            <i class="fas fa-tint"></i>
          </div>
          <div class="nombre-detalle">
            <span>Capacidad de cisterna (L)</span>
          </div>
          <div class="valor-detalle">
            <span>{{capacidad_cisterna}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="((propiedad | async)?.edad_propiedad) as edad_propiedad">
        <div class="resumen-display-detalle" *ngIf="nueva_propiedad && nueva_propiedad.edad_propiedad > 0">
          <div class="icono">
            <i class="fas fa-clock"></i>
          </div>
          <div class="nombre-detalle">
            <span>Edad de la propiedad (años)</span>
          </div>
          <div class="valor-detalle">
            <span>{{edad_propiedad}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="((propiedad | async)?.costo_mantenimiento) as costo_mantenimiento">
        <div class="resumen-display-detalle" *ngIf="nueva_propiedad && nueva_propiedad.costo_mantenimiento > 0">
          <div class="icono">
            <i class="fas fa-tools"></i>
          </div>
          <div class="nombre-detalle">
            <span>Costo del mantenimiento</span>
          </div>
          <div class="valor-detalle">
            <span>{{costo_mantenimiento | currency:'MXN'}}</span>
          </div>
        </div>
      </div>

    </div>
    <!-- Fin área de detalles -->

    <!-- Área de descripcion y amenidades -->
    <div class="row">
      <div class="col" *ngIf="((propiedad | async)?.descripcion) as descripcion">
        <div class="resumen-display-descripcion-amenidades text-center" *ngIf="descripcion != ''">
          <div class="titulo">
            <span>Descripción de la propiedad</span>
          </div>
          <div class="text">
            <span>{{descripcion}}</span>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="((propiedad | async)?.amenidades) as amenidades">
        <div class="resumen-display-descripcion-amenidades text-center" *ngIf="amenidades != ''">
          <div class="titulo">
            <span>Amenidades</span>
          </div>
          <div class="text">
            <span>{{amenidades}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin área de descripcion y amenidades -->

  </div>

</div>
