<div class="propiedad-detalle-area">

  <div class="top-navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-2 col-lg-1 col-md-0"></div>
        <div class="col-xl-8 col-lg-10 col-md-12">
          <button class="btn btn-link  float-left" (click)="navigatePrevious()">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button class="btn btn-link  float-right">
            <i class="far fa-edit"></i>
          </button>
        </div>
        <div class="col-xl-2 col-lg-1 col-md-0"></div>
      </div>
    </div>
  </div>

  <div class="working-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-2 col-lg-1 col-md-0"></div>
        <div class="col-xl-8 col-lg-10 col-md-12">
          <app-property-display
            [propiedad]="(propiedad | async)">
          </app-property-display>
        </div>
        <div class="col-xl-2 col-lg-1 col-md-0"></div>
      </div>
    </div>
  </div>

</div>
