.contact-config-area{
    position: fixed;
    width: 100%;
    height: calc(100vh - 81px);
    left: 0;
    right: 0;
    top: 81px;
}

.card-holder {
    padding: 15px;
}

.boton-heritage {
    background-color: #87b23e;
    color: white;
}