<nav class="navbar navbar-expand-lg navbar-light navbar-bg fixed-top">
  <div class="navbar-brand">
    <a routerLink="/inmuebles/resultados">
        <img src="../../../assets/images/logo_hd_admin.png" />
    </a>
    <div class="user-area">
      <p>Administrador</p>
      <p>{{user.username}}</p>
    </div>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link mobile-padding" routerLink="/admin/estate" routerLinkActive="active" onclick="closenavbar()">
          Propiedades
        </a>
      </li>
      <li class="nav-item dropdown" style="padding: 8px !important;">
        <a class="nav-link dropdown-toggle dg-dropdown-wrapper" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Configuración
        </a>
        <div class="dropdown-menu conf-background" aria-labelledby="navbarDropdown">
          <a class="nav-link" routerLink="/admin/amenities" routerLinkActive="active" onclick="closenavbar()">
            Amenidades
          </a>
          <a class="nav-link" routerLink="/admin/contact_config" routerLinkActive="active" onclick="closenavbar()">
            Configuración de contacto
          </a>
        </div>
      </li>
      <li class="nav-item">
        
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-link" style="color: white;" data-toggle="modal" data-target="#exampleModal">
          Cerrar sesión
        </button>
      </li>
    </ul>
  </div>
</nav>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Deseas salir de tu sesión?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="logout()"
        >
          Cerrar sesión
        </button>
      </div>
    </div>
  </div>
</div>
