.navbar {
    background-color: #87b23e;
    position: fixed;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    height: 54px;
    button {
        display: inline-block;
        @media screen and (min-width: 813px) {
            display: none;
        }
    }
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar-title {
    width: 100%;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    @media screen and (max-width: 813px) {
        width: calc(100% - 40px);
        display: inline-block;
    }
}