.navbar {
    background-color: #87b23e;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: 54px;
    transition: all 0.3s;
}

#toggleButton {
    display: inline-block;
}

.row {
    flex-grow: 1;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar-title {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
}

.web-page-button {
    color: #fff;
    font-size: 1.2em;
}