<nav class="navbar navbar-expand-lg navbar-light active" id="admin-navbar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <button id="toggleButton" type="button" class="btn btn-light" onclick="toggleSidebar()">
            <i class="fas fa-bars"></i>
        </button>
      </div>
      <div class="col-8">
        <div class="navbar-title" *ngIf="title">
          {{title}}
        </div>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-link float-right web-page-button" routerLink="/inmuebles/resultados">
          <i class="fas fa-globe-americas"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
