.wizard-alta-inmueble {
    padding: 10px;
}

.wizard-nav-bar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;

    .wizard-nav-item {
        color: #6c757d;
        text-align: center;
        padding-bottom: 20px;

        .border-circle {
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            width: 54px;
            height: 54px;
            @media screen and (max-width: 413px) {
                width: 44px;
                height: 44px;
            }
            border: 1px solid #6c757d;
            border-radius: 45px !important;
            font-size: 1.5em;
            i {
                vertical-align: middle;
                margin-bottom: -0.3em;
                @media screen and (max-width: 413px) {
                    vertical-align: middle;
                    margin-bottom: -0.1em;
                }
            }
        }

        .title {
            margin-left: 5px;
        }
    }

    .item-active {
        color: #87b23e;
        border-bottom: 1px solid #87b23e;

        .border-circle {
            border-color: #87b23e;
        }
    }

    .item-done {
        color: #338f9b;

        .border-circle {
            border-color: #338f9b;
        }
    }
}

.form-area {
    margin-top: 24px;
}

.col-form-label {
    @media screen and (min-width: 720px) {
        text-align: right;
    }
}

.wizard-nav-button {
    color: white;
    font-size: 1.2rem;

    width: 63px;
    height: 63px;

    background-color: #87b23e;
    border-radius: 45px !important;

    -webkit-box-shadow: 9px 11px 56px -16px rgba(0,0,0,0.83);
    -moz-box-shadow: 9px 11px 56px -16px rgba(0,0,0,0.83);
    box-shadow: 9px 11px 56px -16px rgba(0,0,0,0.83);
}
