.reset-password-background {
    background-color: #EBEBEB;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.reset-password-page-area {
    margin-top: 81px;
    min-height: calc(100vh - 81px);
}

.restablecer-title {
    position: relative;
    padding-top: 51px;
    text-align: center;
}

.reset-password-form {
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    max-width: 510px;
}

.password-creation-hint {
    font-size: 12px;
    color: black;
}

.boton-enviar {
    margin-top: 27px !important;
    margin-bottom: 12px !important;
    :focus {
        outline:0;
    }
    background-color: rgb(135, 178, 62);
    color: white;
    border-color: rgb(135, 178, 62);
    :hover {
        background-color: rgb(135, 178, 62);
        border-color: green;
    }
}

.loading-holder {
    background-color: #87b23e;
    height: 100%;
    width: 100%;
}

.error-label {
    font-size: 12px;
    color: red;
}
