<div class="reset-password-background">
  <div class="reset-password-page-area">
      <div class="restablecer-title">
          <h3>Restablecer contraseña</h3>
      </div>
      <div class="reset-password-form">
        <form>
          <label for="registroPassword">Nueva contraseña</label>
          <div class="form-group">
            <input type="password" class="form-control form-control-sm" id="registroPassword" name="registroPassword" 
              placeholder="Contraseña" [(ngModel)]="password"/>
            <div class="error-label" *ngIf="passwordError">
              Escribe una contraseña válida.
            </div>
            <div class="password-creation-hint">
              La contraseña debe contener mínimo 6 caracteres, máximo 9 caracteres, debe contener mínimo un número, mínimo una letra mayúscula y mínimo una letra minúscula.
            </div>
          </div>
          <label for="registroPassword">Repetir nueva contraseña</label>
          <div class="form-group">
            <input type="password" class="form-control form-control-sm" id="registroPassword" name="registroPassword" 
              placeholder="Contraseña" [(ngModel)]="rePassword"/>
            <div class="error-label" *ngIf="rePasswordError">
              La contraseña debe coincidir con la anterior
            </div>
          </div>
          <div class="form-group">
            <button class="btn boton-enviar mb-4 btn-block" (click)="restablecerPassword()"> 
              Restablecer contraseña
            </button>
          </div>
        </form>
      </div>
      <div class="loading-holder" *ngIf="cargando">
        <app-loading
          [mensaje]="'enviando formulario'"></app-loading>
      </div>
    </div>
</div>
