<div class="nosotros-background">

  <!-- Contenido de la página nosotros -->
  <div class="page-area">

      <!-- Nosotros descripción -->
      <div class="dg-nosotros-descripcion">
        <!-- Titulo de la página -->
        <div class="dg-title">
          <h2 >
            Nosotros
          </h2>
        </div>
        <!-- Fin titulo de la página -->

        <!-- Descripción nosotros -->
        <div class="dg-text">
          <p>
            Hd es una empresa desempeñada en el mercado de inmuebles, formada por un equipo dedicado y comprometido con sus clientes, garantizando calidad en el servicio, teniendo como sede la ciudad de Puebla.
          </p>
        </div>
        <!-- Fin descripción nosotros -->
      </div>
      <!-- Fin nosotros descripción -->

      <!-- Banner -->
      <div class="dg-nosotros-banner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8">
              <p class="dg-banner-text">
                Tenemos las opciones de renta y venta ideales para tí.
              </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 text-center">
              <span class="dg-imglogo">
                <img src="../../../assets/images/logo_hd_sin_texto.png" 
                  alt="Heritage" />
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin banner -->

      <!-- Descripción Misión-Visión -->
      <div class="dg-nosotros-mision-vision">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="dg-title">
                  <span></span>
                  <h5>
                    Misión
                  </h5>
                </div>
                <div class="dg-text">
                  <p>
                      Ofrecer un servicio dando una nueva experiencia, sencilla para venta y renta de inmuebles a clientes que buscan calidad.
                  </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="dg-title">
                <span></span>
                <h5>
                  Visión
                </h5>
              </div>
              <div class="dg-text">
                <p>
                    Expandirnos y mejorar la calidad del servicio inmobiliario en todo el país.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin descripción Misión-Visión -->

      <!-- Imagenes tipo inmuebles -->
      <div class="dg-nosotros-imagenes-inmuebles">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 color-red">
              <div class="dg-bloque-imagen">
                <img src="../../../assets/images/departamento-img.jpg" alt="" />
                <label>
                  Departamentos
                </label>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 color-red">
              <div class="dg-bloque-imagen">
                <img src="../../../assets/images/casa-img.jpg" alt="" />
                <label>
                  Casa
                </label>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 color-red">
              <div class="dg-bloque-imagen">
                <img src="../../../assets/images/terreno-img.jpg" alt="" />
                <label>
                  Terreno
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Finmagenes tipo inmuebles -->

  </div>

  <app-footer></app-footer>
</div>
