<div class="wizard-alta-propiedad">

  <div class="top-navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <button class="btn btn-link float-left" (click)="navigatePrevious()">
            <i class="fas fa-chevron-left"></i>
          </button>
        </div>
        <div class="col-8">
          <div class="title">
            <span>{{(esEdicion ? 'Edición de propiedad':'Alta de propiedad')}}</span>
          </div>
        </div>
        <div class="col-2">
          <button class="btn btn-link float-right" *ngIf="esEdicion && !thisIsTheEnd" data-toggle="modal" data-target="#confirmarBorrarModal">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="working-area" *ngIf="!thisIsTheEnd">

    <!-- Wizard navigation bar -->
    <div class="container-fluid wizard-nav-bar">
      <div class="row">
        <div class="col">
          <div class="wizard-nav-item" id="informacionBasicaNavItem"
            [class.item-active]="numeroPaso === 1">
            <div class="border-circle">
              <i class="fas fa-home"></i>
            </div>
            <span class="title d-none d-md-block">Información básica</span>
          </div>
        </div>
        <div class="col">
          <div class="wizard-nav-item" id="informacionAvanzadaNavItem"
            [class.item-active]="numeroPaso === 2">
            <div class="border-circle">
              <i class="fas fa-location-arrow"></i>
            </div>
            <span class="title d-none d-md-block">Ubicación</span>
          </div>
        </div>
        <div class="col">
          <div class="wizard-nav-item" id="informacionAvanzadaNavItem"
            [class.item-active]="numeroPaso === 3">
            <div class="border-circle">
              <i class="fas fa-plus"></i>
            </div>
            <span class="title d-none d-md-block">Información avanzada</span>
          </div>
        </div>
        <div class="col">
          <div class="wizard-nav-item" id="fotografiasNavItem"
            [class.item-active]="numeroPaso === 4">
            <div class="border-circle">
              <i class="fas fa-images"></i>
            </div>
            <span class="title d-none d-md-block">Fotografías</span>
          </div>
        </div>
        <div class="col">
          <div class="wizard-nav-item" id="resumenNavItem"
            [class.item-active]="numeroPaso === 5">
            <div class="border-circle">
              <i class="fas fa-file-alt"></i>
            </div>
            <span class="title d-none d-md-block">Resumen</span>
          </div>
        </div>
      </div>
    </div>
    <!-- End wizard navigation bar -->

    <!-- Área del wizard -->
    <div class="wizard-working-area" id="wizardWorkingArea" #wizardWorkingArea>

      <!-- Primer paso - información básica -->
      <div id="informacionBasicaForm" *ngIf="numeroPaso === 1">
        <form class="contanier-fluid" (ngSubmit)="fIB.form.valid && finalizarPaso1()" #fIB="ngForm" novalidate>

          <!-- tipoPropiedad -->
          <div class="form-group row">
            <div class="col-sm-0 col-md-1">
            </div>
            <label for="tipoPropiedad" class="col-sm-12 col-md-3 col-form-label">Tipo de propiedad</label>
            <div class="col-sm-12 col-md-6" *ngIf="!esEdicion">
              <select class="form-control " id="tipoPropiedad"
                name="tipoPropiedad" [(ngModel)]="nuevaPropiedad.tipoPropiedad"
                #tipoPropiedad="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && tipoPropiedad.invalid }" required>
                <option value=""></option>
                <option value="Casa">Casa</option>
                <option value="Departamento">Departamento</option>
                <option value="Oficina">Oficina</option>
                <option value="Terreno">Terreno</option>
              </select>
              <div *ngIf="fIB.submitted && tipoPropiedad.invalid" class="invalid-feedback">
                  Debes seleccionar un tipo de propiedad.
              </div>
            </div>
            <div class="col-sm-12 col-md-6" *ngIf="esEdicion">
              <label class="col-form-label">{{nuevaPropiedad.tipoPropiedad}}</label>
            </div>
          </div>
          <!-- fin tipoPropiedad -->

          <div id="informacionBasicaCasa" *ngIf="nuevaPropiedad.tipoPropiedad && nuevaPropiedad.tipoPropiedad === 'Casa'">

            <!-- nombre -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="nombrePropiedad" class="col-sm-12 col-md-3 col-form-label">Nombre</label>
              <div class="col-sm-12 col-md-6">
                <input type="text" class="form-control" id="nombrePropiedad" placeholder="Nombre"
                  name="nombre" [(ngModel)]="nuevaPropiedad.nombre"
                  #nombre="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && nombre.invalid }" required>
                <div *ngIf="fIB.submitted && nombre.invalid" class="invalid-feedback">
                    Debes ingresar un nombre
                </div>
              </div>
            </div>
            <!-- fin nombre-->

            <!-- m2Construccion -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="m2construccionPropiedad" class="col-sm-12 col-md-3 col-form-label">M2 Construcción</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="m2construccionPropiedad" placeholder="M2 Construcción"
                  name="m2Construccion" [(ngModel)]="nuevaPropiedad.m2Construccion"
                  #m2Construccion="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && m2Construccion.invalid }" required>
                <div *ngIf="fIB.submitted && m2Construccion.invalid" class="invalid-feedback">
                    Debes ingresar los m2 de construcción
                </div>
              </div>
            </div>
            <!-- fin m2Construccion -->
  
            <!-- recamaras -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="recamarasPropiedad" class="col-sm-12 col-md-3 col-form-label">Recamaras</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="recamarasPropiedad" placeholder="Recamaras"
                  name="recamaras" [(ngModel)]="nuevaPropiedad.recamaras"
                  #recamaras="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && recamaras.invalid }" required>
                <div *ngIf="fIB.submitted && recamaras.invalid" class="invalid-feedback">
                    Debes ingresar el número de recámaras
                </div>
              </div>
            </div>
            <!-- fin recamaras -->
  
            <!-- banos -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="banosPropiedad" class="col-sm-12 col-md-3 col-form-label">Baños</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="banosPropiedad" placeholder="Baños"
                  name="banos" [(ngModel)]="nuevaPropiedad.banos"
                  #banos="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && banos.invalid }" required>
                <div *ngIf="fIB.submitted && banos.invalid" class="invalid-feedback">
                    Debes ingresar el número de baños
                </div>
              </div>
            </div>
            <!-- fin banos -->
  
            <!-- mediosBanos -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="mediosBanosPropiedad" class="col-sm-12 col-md-3 col-form-label">Medios Baños</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="mediosBanosPropiedad" placeholder="Medios Baños"
                  name="mediosBanos" [(ngModel)]="nuevaPropiedad.mediosBanos"
                  #mediosBanos="ngModel">
              </div>
            </div>
            <!-- fin mediosBanos -->
  
            <!-- cajonesEstacionamiento -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="cajonesEstacionamientoPropiedad" class="col-sm-12 col-md-3 col-form-label">Cajones Estacionamiento</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="cajonesEstacionamientoPropiedad" placeholder="Cajones Estacionamiento"
                  name="cajonesEstacionamiento" [(ngModel)]="nuevaPropiedad.cajonesEstacionamiento"
                  #cajonesEstacionamiento="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && cajonesEstacionamiento.invalid }" required>
                <div *ngIf="fIB.submitted && cajonesEstacionamiento.invalid" class="invalid-feedback">
                    Debes ingresar el número de cajones de estacionamiento
                </div>
              </div>
            </div>
            <!-- fin cajonesEstacionamiento -->
  
            <!-- descripcion -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="descripcionPropiedad" class="col-sm-12 col-md-3 col-form-label">Descripción</label>
              <div class="col-sm-12 col-md-6">
                <textarea class="form-control" id="descripcionPropiedad" rows="4"
                  name="descripcion" [(ngModel)]="nuevaPropiedad.descripcion"
                  #descripcion="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && descripcion.invalid }" required></textarea>
                <div *ngIf="fIB.submitted && descripcion.invalid" class="invalid-feedback">
                    Debes ingresar una breve descripción
                </div>
              </div>
            </div>
            <!-- fin descripcion -->
  
            <!-- direccion -->
            <!-- <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="direccionPropiedad" class="col-sm-12 col-md-3 col-form-label">Dirección</label>
              <div class="col-sm-12 col-md-6">
                <textarea class="form-control" id="direccionPropiedad" rows="4"
                  name="direccion" [(ngModel)]="nuevaPropiedad.direccion"
                  #direccion="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && direccion.invalid }" required></textarea>
                <div *ngIf="fIB.submitted && direccion.invalid" class="invalid-feedback">
                    Debes ingresar una direccion
                </div>
              </div>
            </div> -->
            <!-- fin direccion -->
  
            <!-- precioVenta -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="precioVentaPropiedad" class="col-sm-12 col-md-3 col-form-label">Precio de Venta</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="precioVentaPropiedad" placeholder="Precio de Venta"
                  name="precioVenta" [(ngModel)]="nuevaPropiedad.precioVenta"
                  #precioVenta="ngModel">
              </div>
            </div>
            <!-- fin precioVenta -->
  
            <!-- precioRenta -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="precioRentaPropiedad" class="col-sm-12 col-md-3 col-form-label">Precio de Renta</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="precioRentaPropiedad" placeholder="Precio de Renta"
                  name="precioRenta" [(ngModel)]="nuevaPropiedad.precioRenta"
                  #precioRenta="ngModel" >
              </div>
            </div>
            <!-- fin precioRenta -->
          </div>

          <div id="informacionBasicaDepartamento" *ngIf="nuevaPropiedad.tipoPropiedad && nuevaPropiedad.tipoPropiedad === 'Departamento'">
            <!-- nombre -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="nombrePropiedad" class="col-sm-12 col-md-3 col-form-label">Nombre</label>
              <div class="col-sm-12 col-md-6">
                <input type="text" class="form-control" id="nombrePropiedad" placeholder="Nombre"
                  name="nombre" [(ngModel)]="nuevaPropiedad.nombre"
                  #nombre="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && nombre.invalid }" required>
                <div *ngIf="fIB.submitted && nombre.invalid" class="invalid-feedback">
                    Debes ingresar un nombre
                </div>
              </div>
            </div>
            <!-- fin nombre-->
  
            <!-- m2Construccion -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="m2construccionPropiedad" class="col-sm-12 col-md-3 col-form-label">M2 Construcción</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="m2construccionPropiedad" placeholder="M2 Construcción"
                  name="m2Construccion" [(ngModel)]="nuevaPropiedad.m2Construccion"
                  #m2Construccion="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && m2Construccion.invalid }" required>
                <div *ngIf="fIB.submitted && m2Construccion.invalid" class="invalid-feedback">
                    Debes ingresar los m2 de construcción
                </div>
              </div>
            </div>
            <!-- fin m2Construccion -->
  
            <!-- recamaras -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="recamarasPropiedad" class="col-sm-12 col-md-3 col-form-label">Recamaras</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="recamarasPropiedad" placeholder="Recamaras"
                  name="recamaras" [(ngModel)]="nuevaPropiedad.recamaras"
                  #recamaras="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && recamaras.invalid }" required>
                <div *ngIf="fIB.submitted && recamaras.invalid" class="invalid-feedback">
                    Debes ingresar el número de recámaras
                </div>
              </div>
            </div>
            <!-- fin recamaras -->
  
            <!-- banos -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="banosPropiedad" class="col-sm-12 col-md-3 col-form-label">Baños</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="banosPropiedad" placeholder="Baños"
                  name="banos" [(ngModel)]="nuevaPropiedad.banos"
                  #banos="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && banos.invalid }" required>
                <div *ngIf="fIB.submitted && banos.invalid" class="invalid-feedback">
                    Debes ingresar el número de baños
                </div>
              </div>
            </div>
            <!-- fin banos -->
  
            <!-- mediosBanos -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="mediosBanosPropiedad" class="col-sm-12 col-md-3 col-form-label">Medios Baños</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="mediosBanosPropiedad" placeholder="Medios Baños"
                  name="mediosBanos" [(ngModel)]="nuevaPropiedad.mediosBanos"
                  #mediosBanos="ngModel">
              </div>
            </div>
            <!-- fin mediosBanos -->
  
            <!-- cajonesEstacionamiento -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="cajonesEstacionamientoPropiedad" class="col-sm-12 col-md-3 col-form-label">Cajones Estacionamiento</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="cajonesEstacionamientoPropiedad" placeholder="Cajones Estacionamiento"
                  name="cajonesEstacionamiento" [(ngModel)]="nuevaPropiedad.cajonesEstacionamiento"
                  #cajonesEstacionamiento="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && cajonesEstacionamiento.invalid }" required>
                <div *ngIf="fIB.submitted && cajonesEstacionamiento.invalid" class="invalid-feedback">
                    Debes ingresar el número de cajones de estacionamiento
                </div>
              </div>
            </div>
            <!-- fin cajonesEstacionamiento -->
  
            <!-- descripcion -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="descripcionPropiedad" class="col-sm-12 col-md-3 col-form-label">Descripción</label>
              <div class="col-sm-12 col-md-6">
                <textarea class="form-control" id="descripcionPropiedad" rows="4"
                  name="descripcion" [(ngModel)]="nuevaPropiedad.descripcion"
                  #descripcion="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && descripcion.invalid }" required></textarea>
                <div *ngIf="fIB.submitted && descripcion.invalid" class="invalid-feedback">
                    Debes ingresar una breve descripción
                </div>
              </div>
            </div>
            <!-- fin descripcion -->
  
            <!-- direccion -->
            <!-- <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="direccionPropiedad" class="col-sm-12 col-md-3 col-form-label">Dirección</label>
              <div class="col-sm-12 col-md-6">
                <textarea class="form-control" id="direccionPropiedad" rows="4"
                  name="direccion" [(ngModel)]="nuevaPropiedad.direccion"
                  #direccion="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && direccion.invalid }" required></textarea>
                <div *ngIf="fIB.submitted && direccion.invalid" class="invalid-feedback">
                    Debes ingresar una direccion
                </div>
              </div>
            </div> -->
            <!-- fin direccion -->
  
            <!-- precioVenta -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="precioVentaPropiedad" class="col-sm-12 col-md-3 col-form-label">Precio de Venta</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="precioVentaPropiedad" placeholder="Precio de Venta"
                  name="precioVenta" [(ngModel)]="nuevaPropiedad.precioVenta"
                  #precioVenta="ngModel">
              </div>
            </div>
            <!-- fin precioVenta -->
  
            <!-- precioRenta -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="precioRentaPropiedad" class="col-sm-12 col-md-3 col-form-label">Precio de Renta</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="precioRentaPropiedad" placeholder="Precio de Renta"
                  name="precioRenta" [(ngModel)]="nuevaPropiedad.precioRenta"
                  #precioRenta="ngModel" >
              </div>
            </div>
            <!-- fin precioRenta -->
          </div>

          <div id="informacionBasicaOficina" *ngIf="nuevaPropiedad.tipoPropiedad && nuevaPropiedad.tipoPropiedad === 'Oficina'">
            <!-- nombre -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="nombrePropiedad" class="col-sm-12 col-md-3 col-form-label">Nombre</label>
              <div class="col-sm-12 col-md-6">
                <input type="text" class="form-control" id="nombrePropiedad" placeholder="Nombre"
                  name="nombre" [(ngModel)]="nuevaPropiedad.nombre"
                  #nombre="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && nombre.invalid }" required>
                <div *ngIf="fIB.submitted && nombre.invalid" class="invalid-feedback">
                    Debes ingresar un nombre
                </div>
              </div>
            </div>
            <!-- fin nombre-->
  
            <!-- m2Construccion -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="m2construccionPropiedad" class="col-sm-12 col-md-3 col-form-label">M2 Construcción</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="m2construccionPropiedad" placeholder="M2 Construcción"
                  name="m2Construccion" [(ngModel)]="nuevaPropiedad.m2Construccion"
                  #m2Construccion="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && m2Construccion.invalid }" required>
                <div *ngIf="fIB.submitted && m2Construccion.invalid" class="invalid-feedback">
                    Debes ingresar los m2 de construcción
                </div>
              </div>
            </div>
            <!-- fin m2Construccion -->
  
            <!-- mediosBanos -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="mediosBanosPropiedad" class="col-sm-12 col-md-3 col-form-label">Baños</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="mediosBanosPropiedad" placeholder="Baños"
                  name="mediosBanos" [(ngModel)]="nuevaPropiedad.mediosBanos"
                  #mediosBanos="ngModel">
              </div>
            </div>
            <!-- fin mediosBanos -->
  
            <!-- cajonesEstacionamiento -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="cajonesEstacionamientoPropiedad" class="col-sm-12 col-md-3 col-form-label">Cajones Estacionamiento</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="cajonesEstacionamientoPropiedad" placeholder="Cajones Estacionamiento"
                  name="cajonesEstacionamiento" [(ngModel)]="nuevaPropiedad.cajonesEstacionamiento"
                  #cajonesEstacionamiento="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && cajonesEstacionamiento.invalid }" required>
                <div *ngIf="fIB.submitted && cajonesEstacionamiento.invalid" class="invalid-feedback">
                    Debes ingresar el número de cajones de estacionamiento
                </div>
              </div>
            </div>
            <!-- fin cajonesEstacionamiento -->
  
            <!-- descripcion -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="descripcionPropiedad" class="col-sm-12 col-md-3 col-form-label">Descripción</label>
              <div class="col-sm-12 col-md-6">
                <textarea class="form-control" id="descripcionPropiedad" rows="4"
                  name="descripcion" [(ngModel)]="nuevaPropiedad.descripcion"
                  #descripcion="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && descripcion.invalid }" required></textarea>
                <div *ngIf="fIB.submitted && descripcion.invalid" class="invalid-feedback">
                    Debes ingresar una breve descripción
                </div>
              </div>
            </div>
            <!-- fin descripcion -->
  
            <!-- direccion -->
            <!-- <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="direccionPropiedad" class="col-sm-12 col-md-3 col-form-label">Dirección</label>
              <div class="col-sm-12 col-md-6">
                <textarea class="form-control" id="direccionPropiedad" rows="4"
                  name="direccion" [(ngModel)]="nuevaPropiedad.direccion"
                  #direccion="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && direccion.invalid }" required></textarea>
                <div *ngIf="fIB.submitted && direccion.invalid" class="invalid-feedback">
                    Debes ingresar una direccion
                </div>
              </div>
            </div> -->
            <!-- fin direccion -->
  
            <!-- precioVenta -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="precioVentaPropiedad" class="col-sm-12 col-md-3 col-form-label">Precio de Venta</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="precioVentaPropiedad" placeholder="Precio de Venta"
                  name="precioVenta" [(ngModel)]="nuevaPropiedad.precioVenta"
                  #precioVenta="ngModel">
              </div>
            </div>
            <!-- fin precioVenta -->
  
            <!-- precioRenta -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="precioRentaPropiedad" class="col-sm-12 col-md-3 col-form-label">Precio de Renta</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="precioRentaPropiedad" placeholder="Precio de Renta"
                  name="precioRenta" [(ngModel)]="nuevaPropiedad.precioRenta"
                  #precioRenta="ngModel" >
              </div>
            </div>
            <!-- fin precioRenta -->
          </div>

          <div id="informacionBasicaTerreno" *ngIf="nuevaPropiedad.tipoPropiedad && nuevaPropiedad.tipoPropiedad === 'Terreno'">
            <!-- nombre -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="nombrePropiedad" class="col-sm-12 col-md-3 col-form-label">Nombre</label>
              <div class="col-sm-12 col-md-6">
                <input type="text" class="form-control" id="nombrePropiedad" placeholder="Nombre"
                  name="nombre" [(ngModel)]="nuevaPropiedad.nombre"
                  #nombre="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && nombre.invalid }" required>
                <div *ngIf="fIB.submitted && nombre.invalid" class="invalid-feedback">
                    Debes ingresar un nombre
                </div>
              </div>
            </div>
            <!-- fin nombre-->
  
            <!-- m2Terreno -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="m2terrenoPropiedad" class="col-sm-12 col-md-3 col-form-label">M2 Terreno</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="m2terrenoPropiedad" placeholder="M2 Terreno"
                  name="m2Terreno" [(ngModel)]="nuevaPropiedad.m2Terreno"
                  #m2Terreno="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && m2Terreno.invalid }" required>
                  <div *ngIf="fIB.submitted && m2Terreno.invalid" class="invalid-feedback">
                      Debes ingresar los m2 del terreno
                  </div>
              </div>
            </div>
            <!-- fin m2Terreno -->
  
            <!-- descripcion -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="descripcionPropiedad" class="col-sm-12 col-md-3 col-form-label">Descripción</label>
              <div class="col-sm-12 col-md-6">
                <textarea class="form-control" id="descripcionPropiedad" rows="4"
                  name="descripcion" [(ngModel)]="nuevaPropiedad.descripcion"
                  #descripcion="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && descripcion.invalid }" required></textarea>
                <div *ngIf="fIB.submitted && descripcion.invalid" class="invalid-feedback">
                    Debes ingresar una breve descripción
                </div>
              </div>
            </div>
            <!-- fin descripcion -->
  
            <!-- direccion -->
            <!-- <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="direccionPropiedad" class="col-sm-12 col-md-3 col-form-label">Dirección</label>
              <div class="col-sm-12 col-md-6">
                <textarea class="form-control" id="direccionPropiedad" rows="4"
                  name="direccion" [(ngModel)]="nuevaPropiedad.direccion"
                  #direccion="ngModel" [ngClass]="{ 'is-invalid': fIB.submitted && direccion.invalid }" required></textarea>
                <div *ngIf="fIB.submitted && direccion.invalid" class="invalid-feedback">
                    Debes ingresar una direccion
                </div>
              </div>
            </div> -->
            <!-- fin direccion -->
  
            <!-- precioVenta -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="precioVentaPropiedad" class="col-sm-12 col-md-3 col-form-label">Precio de Venta</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="precioVentaPropiedad" placeholder="Precio de Venta"
                  name="precioVenta" [(ngModel)]="nuevaPropiedad.precioVenta"
                  #precioVenta="ngModel">
              </div>
            </div>
            <!-- fin precioVenta -->
  
            <!-- precioRenta -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="precioRentaPropiedad" class="col-sm-12 col-md-3 col-form-label">Precio de Renta</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="precioRentaPropiedad" placeholder="Precio de Renta"
                  name="precioRenta" [(ngModel)]="nuevaPropiedad.precioRenta"
                  #precioRenta="ngModel" >
              </div>
            </div>
            <!-- fin precioRenta -->  
          </div>

          <div class="form-bottom-space">
          </div>

          <button type="submit" class="btn btn-link wizard-nav-button2 forward">
            <i class="fas fa-chevron-right"></i>
          </button>

        </form>
      </div>
      <!-- Fin primer paso - información básica -->

      <!-- Segundo paso - ubicacion de la propiedad -->
      <div id="ubicacionForm" *ngIf="numeroPaso === 2">
        <div class="contanier-fluid">
          <div id="map" #map class="ubicacion-propiedad">
          </div>
          <div class="ubicaciones-propiedad-search">
            <app-google-places
              (setAddress)="cambiarDireccionPorBusqueda($event)">
            </app-google-places>
          </div>

          <button class="btn btn-link wizard-nav-button2 back"
            (click)="pasoAnterior()">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button class="btn btn-link wizard-nav-button2 forward"
            (click)="finalizarPaso2()">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
      </div>
      <!-- Fin segundo paso - ubicacion de la propiedad -->
    
      <!-- Tercer paso - información avanzada -->
      <div id="informacionAvanzadaForm" *ngIf="numeroPaso === 3">
        <form (ngSubmit)="fIA.form.valid && finalizarPaso3()" #fIA="ngForm" novalidate>

          <div id="informacionAvanzadaCasa" *ngIf="nuevaPropiedad.tipoPropiedad && nuevaPropiedad.tipoPropiedad === 'Casa'">
            <!-- m2Terreno -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="m2terrenoPropiedad" class="col-sm-12 col-md-3 col-form-label">M2 Terreno</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="m2terrenoPropiedad" placeholder="M2 Terreno"
                  name="m2Terreno" [(ngModel)]="nuevaPropiedad.m2Terreno"
                  #m2Terreno="ngModel">
              </div>
            </div>
            <!-- fin m2Terreno -->
  
            <!-- niveles -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="niveles_plantasPropiedad" class="col-sm-12 col-md-3 col-form-label">Niveles (plantas)</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="niveles_plantasPropiedad" placeholder="Niveles"
                  name="niveles" [(ngModel)]="nuevaPropiedad.niveles"
                  #niveles="ngModel">
              </div>
            </div>
            <!-- fin niveles -->
  
            <!-- amenidades -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="amenidadesPropiedad" class="col-sm-12 col-md-3 col-form-label">Amenidades</label>
              <div class="col-sm-12 col-md-6">
                <textarea class="form-control" id="amenidadesPropiedad" rows="4"
                  name="amenidades" [(ngModel)]="nuevaPropiedad.amenidades"
                  #amenidades="ngModel"></textarea>
              </div>
            </div>
            <!-- fin amenidades -->
  
            <!-- tiempoMinimoRenta -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="tiempoMinimoRentaPropiedad" class="col-sm-12 col-md-3 col-form-label">Tiempo mínimo de renta (meses)</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="tiempoMinimoRentaPropiedad" placeholder="Tiempo mínimo de renta"
                  name="tiempoMinimoRenta" [(ngModel)]="nuevaPropiedad.tiempoMinimoRenta"
                  #tiempoMinimoRenta="ngModel">
              </div>
            </div>
            <!-- fin tiempoMinimoRenta -->
  
            <!-- capacidadCisterna -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="capacidadCisternaPropiedad" class="col-sm-12 col-md-3 col-form-label">Capacidad de cisterna (L)</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="capacidadCisternaPropiedad" placeholder="Capacidad de cisterna"
                  name="capacidadCisterna" [(ngModel)]="nuevaPropiedad.capacidadCisterna"
                  #capacidadCisterna>
              </div>
            </div>
            <!-- fin capacidadCisterna -->
  
            <!-- edadPropiedad -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="edadPropiedad" class="col-sm-12 col-md-3 col-form-label">Edad de la propiedad (años)</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="edadPropiedad" placeholder="Edad de la propiedad"
                  name="edadPropiedad" [(ngModel)]="nuevaPropiedad.edadPropiedad"
                  #edadPropiedad>
              </div>
            </div>
            <!-- fin edadPropiedad-->
  
            <!-- costoMantenimiento -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="costoMantenimientoPropiedad" class="col-sm-12 col-md-3 col-form-label">Costo Mantenimiento (mensual)</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="costoMantenimientoPropiedad" placeholder="Costo mantenimiento"
                  name="costoMantenimiento" [(ngModel)]="nuevaPropiedad.costoMantenimiento"
                  #costoMantenimiento="ngModel">
              </div>
            </div>
            <!-- fin costoMantenimiento -->
          </div>

          <div id="informacionAvanzadaDepartamento" *ngIf="nuevaPropiedad.tipoPropiedad && nuevaPropiedad.tipoPropiedad === 'Departamento'">
            <!-- niveles -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="niveles_plantasPropiedad" class="col-sm-12 col-md-3 col-form-label">Niveles (plantas)</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="niveles_plantasPropiedad" placeholder="Niveles"
                  name="niveles" [(ngModel)]="nuevaPropiedad.niveles"
                  #niveles="ngModel">
              </div>
            </div>
            <!-- fin niveles -->

            <!-- amenidades -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="amenidadesPropiedad" class="col-sm-12 col-md-3 col-form-label">Amenidades</label>
              <div class="col-sm-12 col-md-6">
                <textarea class="form-control" id="amenidadesPropiedad" rows="4"
                  name="amenidades" [(ngModel)]="nuevaPropiedad.amenidades"
                  #amenidades="ngModel"></textarea>
              </div>
            </div>
            <!-- fin amenidades -->
  
            <!-- tiempoMinimoRenta -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="tiempoMinimoRentaPropiedad" class="col-sm-12 col-md-3 col-form-label">Tiempo mínimo de renta (meses)</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="tiempoMinimoRentaPropiedad" placeholder="Tiempo mínimo de renta"
                  name="tiempoMinimoRenta" [(ngModel)]="nuevaPropiedad.tiempoMinimoRenta"
                  #tiempoMinimoRenta="ngModel">
              </div>
            </div>
            <!-- fin tiempoMinimoRenta -->
  
            <!-- edadPropiedad -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="edadPropiedad" class="col-sm-12 col-md-3 col-form-label">Edad de la propiedad (años)</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="edadPropiedad" placeholder="Edad de la propiedad"
                  name="edadPropiedad" [(ngModel)]="nuevaPropiedad.edadPropiedad"
                  #edadPropiedad>
              </div>
            </div>
            <!-- fin edadPropiedad-->
  
            <!-- costoMantenimiento -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="costoMantenimientoPropiedad" class="col-sm-12 col-md-3 col-form-label">Costo Mantenimiento (mensual)</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="costoMantenimientoPropiedad" placeholder="Costo mantenimiento"
                  name="costoMantenimiento" [(ngModel)]="nuevaPropiedad.costoMantenimiento"
                  #costoMantenimiento="ngModel">
              </div>
            </div>
            <!-- fin costoMantenimiento -->

            
          </div>

          <div id="informacionAvanzadaOficina" *ngIf="nuevaPropiedad.tipoPropiedad && nuevaPropiedad.tipoPropiedad === 'Oficina'">
            <!-- m2Terreno -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="m2terrenoPropiedad" class="col-sm-12 col-md-3 col-form-label">M2 Terreno</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="m2terrenoPropiedad" placeholder="M2 Terreno"
                  name="m2Terreno" [(ngModel)]="nuevaPropiedad.m2Terreno"
                  #m2Terreno="ngModel">
              </div>
            </div>
            <!-- fin m2Terreno -->
  
            <!-- niveles -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="niveles_plantasPropiedad" class="col-sm-12 col-md-3 col-form-label">Niveles (plantas)</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="niveles_plantasPropiedad" placeholder="Niveles"
                  name="niveles" [(ngModel)]="nuevaPropiedad.niveles"
                  #niveles="ngModel">
              </div>
            </div>
            <!-- fin niveles -->
  
            <!-- amenidades -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="amenidadesPropiedad" class="col-sm-12 col-md-3 col-form-label">Amenidades</label>
              <div class="col-sm-12 col-md-6">
                <textarea class="form-control" id="amenidadesPropiedad" rows="4"
                  name="amenidades" [(ngModel)]="nuevaPropiedad.amenidades"
                  #amenidades="ngModel"></textarea>
              </div>
            </div>
            <!-- fin amenidades -->
  
            <!-- tiempoMinimoRenta -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="tiempoMinimoRentaPropiedad" class="col-sm-12 col-md-3 col-form-label">Tiempo mínimo de renta (meses)</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="tiempoMinimoRentaPropiedad" placeholder="Tiempo mínimo de renta"
                  name="tiempoMinimoRenta" [(ngModel)]="nuevaPropiedad.tiempoMinimoRenta"
                  #tiempoMinimoRenta="ngModel">
              </div>
            </div>
            <!-- fin tiempoMinimoRenta -->
  
            <!-- capacidadCisterna -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="capacidadCisternaPropiedad" class="col-sm-12 col-md-3 col-form-label">Capacidad de cisterna (L)</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="capacidadCisternaPropiedad" placeholder="Capacidad de cisterna"
                  name="capacidadCisterna" [(ngModel)]="nuevaPropiedad.capacidadCisterna"
                  #capacidadCisterna>
              </div>
            </div>
            <!-- fin capacidadCisterna -->
  
            <!-- edadPropiedad -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="edadPropiedad" class="col-sm-12 col-md-3 col-form-label">Edad de la propiedad (años)</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="edadPropiedad" placeholder="Edad de la propiedad"
                  name="edadPropiedad" [(ngModel)]="nuevaPropiedad.edadPropiedad"
                  #edadPropiedad>
              </div>
            </div>
            <!-- fin edadPropiedad-->
  
            <!-- costoMantenimiento -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="costoMantenimientoPropiedad" class="col-sm-12 col-md-3 col-form-label">Costo Mantenimiento (mensual)</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="costoMantenimientoPropiedad" placeholder="Costo mantenimiento"
                  name="costoMantenimiento" [(ngModel)]="nuevaPropiedad.costoMantenimiento"
                  #costoMantenimiento="ngModel">
              </div>
            </div>
            <!-- fin costoMantenimiento -->
          </div>

          <div id="informacionAvanzadaTerreno" *ngIf="nuevaPropiedad.tipoPropiedad && nuevaPropiedad.tipoPropiedad === 'Terreno'">
            <!-- edadPropiedad -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="edadPropiedad" class="col-sm-12 col-md-3 col-form-label">Edad de la propiedad (años)</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="edadPropiedad" placeholder="Edad de la propiedad"
                  name="edadPropiedad" [(ngModel)]="nuevaPropiedad.edadPropiedad"
                  #edadPropiedad>
              </div>
            </div>
            <!-- fin edadPropiedad-->
  
            <!-- costoMantenimiento -->
            <div class="form-group row">
              <div class="col-sm-0 col-md-1">
              </div>
              <label for="costoMantenimientoPropiedad" class="col-sm-12 col-md-3 col-form-label">Costo Mantenimiento (mensual)</label>
              <div class="col-sm-12 col-md-6">
                <input type="number" class="form-control" id="costoMantenimientoPropiedad" placeholder="Costo mantenimiento"
                  name="costoMantenimiento" [(ngModel)]="nuevaPropiedad.costoMantenimiento"
                  #costoMantenimiento="ngModel">
              </div>
            </div>
            <!-- fin costoMantenimiento -->
  
          </div>

          <div class="form-bottom-space">
          </div>

          <button class="btn btn-link wizard-nav-button2 back"
              (click)="pasoAnterior()">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button type="submit" class="btn btn-link wizard-nav-button2 forward">
            <i class="fas fa-chevron-right"></i>
          </button>

        </form>
      </div>
      <!-- Fin tercer paso - información avanzada -->
    
      <!-- Cuarto paso - fotografías -->
      <div id="fotografiasForm" *ngIf="numeroPaso === 4">
        <form (ngSubmit)="finalizarPaso4()">

          <div class="form-group row">
            <div class="col-sm-0 col-md-1">
            </div>
            <div class="col-sm-12 col-md-10">
              <div class="wizard-add-image-button-wrapper float-right">
                <button class="wizard-add-image-button">
                  <i class="fas fa-plus"></i>
                </button>
                <input id="imagesInput" #imagesInput type="file" name="imageToUpload" accept='image/*' (change)="uploadImage($event)" multiple/>
              </div>
            </div>
            <div class="col-sm-0 col-md-1">
            </div>
          </div>

          <div class="row" *ngIf="esEdicion && nuevaPropiedad.urlsFotografias && nuevaPropiedad.urlsFotografias.length !== 0">
            <div class="col-12">
              <span>Imágenes en la nube</span>
            </div>
          </div>
          <div class="form-group row" *ngIf="nuevaPropiedad.urlsFotografias">
            <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let url of nuevaPropiedad.urlsFotografias; let i=index;">
              <div class="card dg-image-card">
                <img [src]="url">
                <button class="btn btn-link delete-button" (click)="borrarImagenEdicion(i)">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="(mapaDeImagenes && mapaDeImagenes.size > 0) && (nuevaPropiedad.urlsFotografias && nuevaPropiedad.urlsFotografias.length !== 0)">
            <div class="col-12">
              <span>Imagenes nuevas</span>
            </div>
          </div>
          <div class="form-group row" *ngIf="mapaDeImagenes && mapaDeImagenes.size > 0">
            <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let objeto_imagen of mapaDeImagenes | keyvalue">
              <div class="card dg-image-card">
                <img [src]="objeto_imagen.value">
                <button class="btn btn-link delete-button" (click)="borrarImagen(objeto_imagen.key)">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="(!mapaDeImagenes || mapaDeImagenes.size == 0) && (!nuevaPropiedad.urlsFotografias || nuevaPropiedad.urlsFotografias.length === 0)">
            <div class="no-image-message">
              <span>No hay imágenes cargadas</span>
            </div>
          </div>

          <div class="form-bottom-space">
          </div>

          <button class="btn btn-link wizard-nav-button2 back"
            (click)="pasoAnterior()">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button type="submit" class="btn btn-link wizard-nav-button2 forward">
            <i class="fas fa-chevron-right"></i>
          </button>

        </form>
      </div>
      <!-- Fin cuarto paso - fotografías -->

      <!-- Quinto paso - resumen y guardado -->
      <div id="resumenForm" *ngIf="numeroPaso === 5">
        <form (ngSubmit)="finalizarPaso5()">
          
          <!-- Display de la propiedad -->
          <div class="container-fluid">
            <div class="row property-display-wizard-hack">
              <div class="col-xl-2 col-lg-1 col-md-0"></div>
              <div class="col-xl-8 col-lg-10 col-md-12">
                <app-property-display
                  [propiedad]='nuevaPropiedad'
                  [mapaDeImagenes]='mapaDeImagenes'>
                </app-property-display>
              </div>
              <div class="col-xl-2 col-lg-1 col-md-0"></div>
            </div>
          </div>
          <!-- Display de la propiedad -->

          <div class="form-bottom-space">
          </div>

          <button class="btn btn-link wizard-nav-button2 back"
            (click)="pasoAnterior()">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button type="submit" class="btn btn-link wizard-nav-button2 forward">
            <i class="far fa-save"></i>
          </button>

        </form>
      </div>
      <!-- Fin quinto paso - resumen y guardado -->

    </div>
    <!-- Fin área del wizard -->

  </div>

</div>

<div class="loading-animation" *ngIf="loading">
  <app-loading style="min-height: inherit; max-height: inherit;"
    [mensaje]="mensajeLoading">
  </app-loading>
</div>

<div class="pagina-finalizado" *ngIf="thisIsTheEnd">
  <button class="btn btn-link icono" (click)="navigatePrevious()">
    <i class="fas fa-check-circle"></i>
  </button>
  <div class="mensaje">
    <span>{{(esEdicion ? 'Propiedad editada!':'Propiedad guardada!')}}</span>
  </div>
</div>

<div class="modal fade" id="confirmarBorrarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Borrado de propiedad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Estas a punto de borrar la propiedad "{{nuevaPropiedad.nombre}}", esta acción no puede ser revertida. ¿Deseas Continuar?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="borrarPropiedad()" data-dismiss="modal">Borrar</button>
      </div>
    </div>
  </div>
</div>
