.wizard-alta-propiedad {
    padding: 10px;
}

.wizard-nav-bar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;

    .wizard-nav-item {
        color: #6c757d;
        text-align: center;
        padding-bottom: 20px;

        .border-circle {
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            width: 54px;
            height: 54px;
            @media screen and (max-width: 413px) {
                width: 44px;
                height: 44px;
            }
            border: 1px solid #6c757d;
            border-radius: 45px !important;
            font-size: 1.5em;
            i {
                vertical-align: middle;
                margin-bottom: -0.3em;
                @media screen and (max-width: 413px) {
                    vertical-align: middle;
                    margin-bottom: -0.1em;
                }
            }
        }

        .title {
            margin-left: 5px;
        }
    }

    .item-active {
        color: #87b23e;
        border-bottom: 1px solid #87b23e;

        .border-circle {
            border-color: #87b23e;
        }
    }

    .item-done {
        color: #338f9b;

        .border-circle {
            border-color: #338f9b;
        }
    }
}

.form-area {
    margin-top: 24px;
}

.col-form-label {
    @media screen and (min-width: 720px) {
        text-align: right;
    }
}

.wizard-nav-button {
    color: white;
    font-size: 1.2rem;

    width: 63px;
    height: 63px;

    background-color: #87b23e;
    border-radius: 45px !important;

    -webkit-box-shadow: 9px 11px 56px -16px rgba(0,0,0,0.83);
    -moz-box-shadow: 9px 11px 56px -16px rgba(0,0,0,0.83);
    box-shadow: 9px 11px 56px -16px rgba(0,0,0,0.83);
}

// fomulario agregar fotos
.wizard-add-image-button-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 63px;
    height: 63px;
    border-radius: 45px !important;
    -webkit-box-shadow: 9px 11px 56px -16px rgba(0,0,0,0.83);
    -moz-box-shadow: 9px 11px 56px -16px rgba(0,0,0,0.83);
    box-shadow: 9px 11px 56px -16px rgba(0,0,0,0.83);

    .wizard-add-image-button {
        color: white;
        font-size: 1.2rem;
        position: absolute;
        left: 0;
        top: 0;
        width: 63px;
        height: 63px;

        background-color: #1f65e6;
        border-radius: 45px !important;
    }

    input[type=file] {
        font-size: 40px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

}

.image-preview {
    img {
        display: block;
        max-width:230px;
        max-height:95px;
        width: auto;
        height: auto;
    }
}

.dg-image-card {
    max-height: 250px;
    overflow-y: hidden;
    img {
        background-color: #6c757d;
        min-height: 252px;
        max-width: 100%;
        object-fit: cover;
        vertical-align: middle;
    }
    .delete-button {
        color: white;
        font-size: 1rem;
        background-color: red;
        border-radius: 45px !important;
        position: absolute;
        top: 5px;
        left: 5px;
    }
}

.no-image-message {
    width: 100%;
    font-size: 1rem;
    color: #6c757d;
    padding-top: 40px;
    text-align: center;
    min-height: 120px;
    max-height: 120px;
}

// página de wizard finalizado
.pagina-finalizado {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    .icono {
        font-size: 9rem;
        color: #87b23e;
    }
    .mensaje {
        font-size: 2rem;
    }
}
