<div class="contacto-adquirir-background">
  
  <!-- Contenido página contacto / adquirir -->
  <div class="page-area">
    
    <!-- Adquirir título -->
    <div class="dg-adquirir-titulo">
      <div class="dg-title">
        <h2>Quiero Comprar o Rentar</h2>
      </div>
    </div>
    <!-- Fin adquirir título -->

    <!-- Adquirir formularios -->
    <div class="dg-adquirir-formularios">
      <div class="content">
        <div class="row">
          <div class="col-12 col-sm-12 col-xs-12">
            <form>
              <div class="form-group">
                <label for="adquirirBusco">Busco:</label>
                <select class="form-control form-control-sm" id="adquirirBusco">
                  <option>Comprar</option>
                  <option>Rentar</option>
                </select>
              </div>
              <div class="form-group">
                <input type="text" class="form-control form-control-sm" 
                  id="adquirirNombreCompleto" placeholder="Nombre Completo">
              </div>
              <div class="form-group">
                <input type="email" class="form-control form-control-sm" 
                  id="adquirirCorreoElectronico" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="adquirirMensaje">Mensaje:</label>
                <textarea class="form-control form-control-sm" 
                  id="adquirirMensaje" rows="3">
                </textarea>
              </div>
              <div class="row">
                <div class="col-12">
                  <button class="btn boton-enviar mb-4 pull-right"> 
                    Enviar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin adquirir formularios -->

  </div>
  <!-- Fin contenido página contacto / adquirir -->

  <app-footer></app-footer>
</div>
