<div class="contacto-adquirir-background">
  
  <!-- Contenido página contacto / adquirir -->
  <div class="page-area">
    
    <!-- Adquirir título -->
    <div class="dg-adquirir-titulo">
      <div class="dg-title">
        <h2>Quiero Comprar o Rentar</h2>
      </div>
    </div>
    <!-- Fin adquirir título -->

    <!-- Adquirir formularios -->
    <div class="dg-adquirir-formularios">
      <div class="content">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <form>
              <div class="form-group">
                <label for="adquirirBusco">Contáctanos:</label>
                <select class="form-control form-control-sm" id="adquirirBusco">
                  <option>Comprar</option>
                  <option>Rentar</option>
                </select>
              </div>
              <div class="form-group">
                <input type="text" class="form-control form-control-sm" 
                  id="adquirirNombreCompleto" placeholder="Nombre Completo">
              </div>
              <div class="form-group">
                <input type="email" class="form-control form-control-sm" 
                  id="adquirirCorreoElectronico" placeholder="Email">
              </div>
              <div class="form-group">
                <textarea type="text" class="form-control form-control-sm" placeholder="Mensaje"
                  id="adquirirMensaje" rows="3"></textarea>
              </div>
              <div class="row">
                <div class="col-12">
                  <button class="btn boton-enviar mb-4 btn-block"> 
                    Enviar
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3717.3587496988794!2d-98.23525738520514!3d19.047200757826968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc72617c9a785%3A0xe0620de7d34c7813!2sDiamante+2907%2C+Residencial+Esmeralda%2C+Puebla%2C+Pue.!5e1!3m2!1ses-419!2smx!4v1551669070883"
                width="100%" height="358" frameborder="0" style="border:0" allowfullscreen>
              </iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin adquirir formularios -->

  </div>
  <!-- Fin contenido página contacto / adquirir -->

  <app-footer></app-footer>
</div>
