.inmuebles-resultado-background {
    background-color: #EBEBEB;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.card {
    margin-top: 30px;
    max-height: 510px;
    -webkit-box-shadow: 3px 6px 12px 1px rgba(122,122,122,0.9);
    -moz-box-shadow: 3px 6px 12px 1px rgba(122,122,122,0.9);
    box-shadow: 3px 6px 12px 1px rgba(122,122,122,0.9);

    .image-viewport {
        background-color: white;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        min-height: 255px;
        max-height: 255px;
        overflow: hidden;
        text-align: center;
        cursor: pointer;

        img {
            background-color: gray;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 100%;
            min-height: 100%;
            color: transparent;
            object-fit: cover;
        }

        .propiedad-precio-renta {
            color: white;
            position: absolute;
            top: 5px;
            left: 10px;
            font-size: 1rem;
            font-weight: bolder;
            padding: 3px;

            .titulo {
                font-size: 1rem;
                font-weight: bolder;
                font-weight: lighter;
                font-size: .7rem;
                display: block;
                text-align: left;
            }
        }
        
        .propiedad-precio-venta {
            color: white;
            position: absolute;
            bottom: 5px;
            left: 10px;
            font-size: 1rem;
            font-weight: bolder;
            padding: 3px;

            .titulo {
                font-size: 1rem;
                font-weight: bolder;
                font-weight: lighter;
                font-size: .7rem;
                display: block;
                text-align: left;
            }
        }
    }

    .card-body {
        max-height: 180px;
        overflow-y: hidden;
    }
}