.barra-busqueda-filtros {
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 129px;
    left: 0;
    right: 0;
    z-index: 9;// z-index: 1031; // para estar arriba del header si fuera necesario
    min-height: 93px;
    max-height: 93px;
}

.botones-filtros {
    padding-right: 6px !important;
    padding-left: 6px !important;
}

.area-busqueda {
    margin-left: 15px;
    margin-right: 15px;
}

.dropdown {
    display: inline !important;
}

.dropdown-menu {
    padding: 0 !important;
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.23);
    box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.23);
}

.boton-heritage {
    :focus {
        outline:0;
    }
    background-color: rgb(135, 178, 62);
    color: white;
    border-color: rgb(135, 178, 62);
    :hover {
        background-color: rgb(135, 178, 62);
        border-color: green;
    }
}

.boton-inline-heritage {
    color: #87b23e;
    border-color: #87b23e;
    background-color: white;
    margin: 9px;
    :focus {
        background-color: #87b23e !important;
        border-color: #87b23e !important;
        color: white !important;
    }
    @media (max-width: 576px) {
        font-size: 0.81rem;
    }
    @media (max-width: 360px) {
        font-size: 0.79rem;
    }
}

.result-area {
    position: fixed;
    top: calc(129px + 93px);
    min-height: calc(100vh - (129px + 93px));
    max-height: calc(100vh - (129px + 93px));
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch !important;

    .container-fluid {
        min-height: calc(100vh - (129px + 93px + 94px));
    }
}

.inmuebles-resultado-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #EBEBEB;
    min-height: 100vh;
    max-height: 100vh;
}

.modal.fade {
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch !important;
}

.card {
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: 510px;
    -webkit-box-shadow: 3px 6px 12px 1px rgba(122,122,122,0.9);
    -moz-box-shadow: 3px 6px 12px 1px rgba(122,122,122,0.9);
    box-shadow: 3px 6px 12px 1px rgba(122,122,122,0.9);

    .image-viewport {
        background-color: white;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        min-height: 255px;
        max-height: 255px;
        overflow: hidden;
        text-align: center;
        cursor: pointer;

        img {
            background-color: gray;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 100%;
            min-height: 100%;
            color: transparent;
            object-fit: cover;
        }

        .propiedad-precio-renta {
            color: white;
            position: absolute;
            top: 5px;
            left: 10px;
            font-size: 1rem;
            font-weight: bolder;
            padding: 3px;

            .titulo {
                font-size: 1rem;
                font-weight: bolder;
                font-weight: lighter;
                font-size: .7rem;
                display: block;
                text-align: left;
            }
        }
        
        .propiedad-precio-venta {
            color: white;
            position: absolute;
            bottom: 5px;
            left: 10px;
            font-size: 1rem;
            font-weight: bolder;
            padding: 3px;

            .titulo {
                font-size: 1rem;
                font-weight: bolder;
                font-weight: lighter;
                font-size: .7rem;
                display: block;
                text-align: left;
            }
        }
    }

    .card-body {
        max-height: 180px;
        overflow-y: hidden;
    }
}