<div class="barra-busqueda-filtros">
    <div class="area-busqueda">
      <div class="input-group search-group">
        <input #addressInput id="addressInput" type="text" class="form-control" 
          placeholder="Ingresa una ubicación" aria-label="Ingresa una ubicación" 
          aria-describedby=""
          [ngClass]="{ 'is-invalid': searchEmpty }">
        <div class="input-group-append">
          <button class="btn btn-primary boton-heritage" type="button" id="button-addon2" (click)="buscarPropiedades()">Buscar</button>
        </div>
        <div *ngIf="searchEmpty" class="invalid-feedback">
            Debes ingresar una ubicación
        </div>
      </div>
    </div>

    <div class="container-fluid botones-filtros">
      <div class="dropdown">
        <button class="btn boton-inline-heritage" type="button" id="rentaVentaDropdown"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{rentaVenta | titlecase}}
        </button>
        <div class="dropdown-menu" aria-labelledby="rentaVentaDropdown" appClickStopPropagation>
          <app-filtro-renta-venta
            [rentaventa]="rentaVenta" (rentaventaChange)="rentaventaChange($event)"></app-filtro-renta-venta>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn boton-inline-heritage" type="button" id="precioDropdown" 
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Precio
        </button>
        <div class="dropdown-menu" aria-labelledby="precioDropdown" appClickStopPropagation>
          <app-filtro-precio 
            [tipoPrecio]="rentaVenta"
            [preciomenor]="precioMenor" (preciomenorChange)="precioMenorChange($event)"
            [preciomayor]="precioMayor" (preciomayorChange)="precioMayorChange($event)"></app-filtro-precio>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn boton-inline-heritage d-none d-md-inline" type="button" id="tipoDropdown"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tipo de Propiedad
        </button>
        <div class="dropdown-menu" aria-labelledby="tipoDropdown" appClickStopPropagation>
          <app-filtro-tipo-propiedad
            [tiposPropiedadesSeleccionadas]="tiposPropiedad" (tiposPropiedadesSeleccionadasChange)="tiposPropiedadChange($event)">
          </app-filtro-tipo-propiedad>
        </div>
      </div>

      
      <button class="btn boton-inline-heritage" type="button">Más</button>
    </div>
  </div>

<div class="inmuebles-resultado-background">
  
  <!-- Contenido de la página de inmuebles-resultado -->
  <div class="result-area" id="resultArea" #resultArea>
    <div class="container-fluid" *ngIf="propiedadesFiltradas">
      <div class="row">

        <!-- Tarjeta de inmueble -->
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let propiedad of propiedadesFiltradas">
          <div class="card">
            <div class="image-viewport">
              <!-- Imagen por default -->
              <img *ngIf="!propiedad.urlsFotografias || propiedad.urlsFotografias.length == 0 || propiedad.urlsFotografias[0] === null" 
                src="../../../assets/images/departamento-img.jpg" alt="..." [routerLink]="['/admin/estate', propiedad.id]"> 
              <!-- end Imagen por default -->
              <!-- Primera imagen de la propiedad -->
              <img *ngIf="propiedad.urlsFotografias && propiedad.urlsFotografias.length > 0"
                [src]="propiedad.urlsFotografias[0]" alt="..." [routerLink]="['/admin/estate', propiedad.id]"> 
              <!-- Fin primera imagen de la propiedad -->
              <div class="propiedad-precio-renta" *ngIf="propiedad.precioRenta && propiedad.precioRenta > 0">
                <span class="titulo">{{propiedad.tipoPropiedad}} en renta</span>
                <span>{{propiedad.precioRenta | currency}} / mes</span>
              </div>
              <div class="propiedad-precio-venta" *ngIf="propiedad.precioVenta && propiedad.precioVenta > 0">
                <span class="titulo">{{propiedad.nombre}}</span>
                <span>{{propiedad.precioVenta | currency}}</span>
              </div>
            </div>
  
            <div class="card-body">
              <h5 class="card-title">{{propiedad.nombre}}</h5>
              <p class="card-text">{{propiedad.descripcion}}</p>
            </div>
            <a href="#" class="btn btn-link" [routerLink]="['.', propiedad.id]" >Detalle</a>
          </div>
        </div>
        <!-- Fin tarjeta de inmueble -->

      </div>
    </div>
  </div>

  <!-- Fin contenido de la página de inmuebles-resultado -->

  <app-footer></app-footer>
</div>


