<div class="login-background">

  <!-- Contenido de la página de login -->
  <div class="page-area">

    <!-- Formulario de ingreso a la sección administrativa -->
    <div class="text-center">
      <form class="form-signin">
        <img class="mb-4" src="../../../assets/images/logo_hd_texto.png" alt="" height="100px">
        <h1 class="h3 mb-3 font-weight-normal">Sistema Administrativo</h1>
        <label for="loginEmail" class="sr-only">Usuario</label>
        <input type="email" class="form-control" placeholder="Email" required="" autofocus=""
          name="loginEmail" [(ngModel)]="email"
          #loginEmail="ngModel">
        <label for="loginPassword" class="sr-only">Contraseña</label>
        <input type="password" class="form-control" placeholder="Contraseña" required=""
          name="loginPassword" [(ngModel)]="password"
          #loginPassword="ngModel">
        <!-- <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Recordarme
          </label>
        </div> -->
        <button class="btn btn-lg boton-ingresar btn-block" type="submit" (click)="login()">Ingresar</button>
        <p class="mt-5 mb-3 text-muted">© 2019</p>
      </form>
    </div>
    <!-- Fin formulario de ingreso a la sección administrativa -->

  </div>
  <!-- Fin contenido de la página de login -->
  <app-footer></app-footer>
</div>
