<div class="inmuebles-background" [style.backgroundImage]="'url('+backgroundImage+')'">

  <!-- Contenido de la página inmuebles -->
  <div class="page-area">

      <!-- Área del formulario -->
      <div class="search-module-wrapper">
          <div class="container-fluid">
            
            <!-- Título del formulario -->
            <div class="row">
              <div class="col-12">
                <h2 class="mt-3">Tenemos la opción ideal para tí</h2>
              </div>
            </div>
            <!-- Fin título del formulario -->

            <!-- Formulario -->
            <div class="row">
              <div class="col-12">
                <div class="input-group search-group">
                  <input #addressInput id="addressInput" type="text" class="form-control" 
                    placeholder="Ingresa una ubicación" aria-label="Ingresa una ubicación" 
                    aria-describedby=""
                    [ngClass]="{ 'is-invalid': searchEmpty }">
                  <!-- <div class="input-group-append">
                    <button class="btn btn-primary boton-buscar" type="button" id="button-addon2" (click)="buscarPropiedades()">Buscar</button>
                  </div> -->
                  <div *ngIf="searchEmpty" class="invalid-feedback">
                      Debes ingresar una ubicación
                  </div>
                </div>
              </div>
            </div>
            <!-- Fin formulario -->

          </div>
      </div>
      <!-- Fin área del formulario -->
      <app-footer></app-footer>
  </div>
  <!-- Fin contenido de la página inmuebles -->
</div>
