<div class="dropdown-form">
  <div class="dropdownBodyForm">
    <form>
      <div class="custom-control custom-radio">
        <input type="radio" value="renta" id="customRadio1" name="customRadio" 
        [ngModel]="rentaventa" class="custom-control-input" (change)="handleValueChanges($event)"
        >
        <label class="custom-control-label" for="customRadio1">Renta</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" value="venta" id="customRadio2" name="customRadio" 
        [ngModel]="rentaventa" class="custom-control-input" (change)="handleValueChanges($event)"
        >
        <label class="custom-control-label" for="customRadio2">Venta</label>
      </div>
    </form>
  </div>
  <div class="dropdownFooterForm">
      <button type="button" class="btn boton-inline-heritage dont-stop-propagation">Terminar</button>
  </div>
</div>