.wrapper {
    display: flex;
    width: 100%;
}

#working-area {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    padding-left: 220px;
    transition: all 0.3s;
    overflow-y: hidden;
    @media screen and (max-width: 415px) {
        padding-left: 0px;
        margin-left: 220px;
    }
}

#working-area.active {
    padding-left: 70px;
    @media screen and (max-width: 769px) {
        padding-left: 0;
    }
    @media screen and (max-width: 415px) {
        margin-left: 0px;
    }
}

#page-container {
    min-height: calc(100vh - 54px);
    max-height: calc(100vh - 54px);
    padding: 20px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
