.footer {
    color: white;
    font-weight: lighter;
    font-size: small;
    min-height: 97px;
    background-color: rgb(135, 178, 62);

    .footer-section {
        padding-top: 7px;
        @media screen and(max-width: 767px){
            margin-bottom: 30px;
        }
        p {
           margin-top: 0;
           margin-bottom: 0; 
        }

        .seccion-titulo {
            font-size: 1rem;
            font-weight: lighter;
        }

        .footer-link {
            @media screen and (max-width: 575px) {
                margin-top: 1rem;
            }
            a {
                color: white;
            }
        }

        .footer-link-social {       
            color: #FFF;
            text-decoration: none;
            font-weight: lighter;
            font-size: 1.2rem;
        }
    }

    .dg-col-logofooter {
        text-align: center;
        img{
            display: inline-block;
            max-width: 100%;
            max-height: 87px;
        }
    }
}