<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-12 footer-section dg-col-logofooter">
        <img src="../../../assets/images/logo_hd_sin_texto.png">
      </div>
      
      <div class="col-md-4 col-sm-4 col-xs-12  footer-section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 seccion-titulo">
              <p>Links</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="footer-link"  >
                <a routerLink="/nosotros">
                  Nosotros
                </a>
              </div>
            </div>
            <div class="col-6">
              <div class="footer-link"  >
                <a routerLink="/admin" >
                  Administración
                </a>
              </div>
            </div>
            <div class="col-6">
              <div class="footer-link"  >
                <a routerLink="/inmuebles">
                  Inmuebles
                </a>
              </div>
            </div>
            <div class="col-6">
              <div class="footer-link"  >
                <a routerLink="/clients" >
                  Clientes
                </a>
              </div>
            </div>
            <div class="col-6">
              <div class="footer-link"  >
                <a routerLink="/contacto">
                  Contacto
                </a>
              </div>
            </div>
            <div class="col-6">
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-3 col-sm-3 col-xs-12 footer-section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 seccion-titulo">
              <p>Síguenos</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <button class="btn btn-link footer-link-social">
                <i class="fab fa-facebook-f"></i>
              </button>
            </div>
            <div class="col-3">
              <button class="btn btn-link footer-link-social">
                <i class="fab fa-instagram"></i>
              </button>
            </div>
            <div class="col-3">
              <button class="btn btn-link footer-link-social">
                <i class="fab fa-whatsapp"></i>
              </button>
            </div>
            <div class="col-3">
              <button class="btn btn-link footer-link-social">
                <i class="fab fa-google-plus-g"></i>
              </button>
            </div>
          </div>
        </div>                          
      </div>

      <div class="col-md-3 col-sm-3 col-xs-12  footer-section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 seccion-titulo">
              <p>Llámanos</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 footer-link">
              <a href="tel:2222396559">
                (222) 239-6559 
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
  
