<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-xs-12 dg-col-logofooter section-margin-bottom">
        <img src="../../../assets/images/logo_hd_sin_texto.png">
      </div>
      
      <div class="col-md-4 col-xs-12 dg-col-links section-margin-bottom">
        <p>Links</p>
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div>
                <a >
                  Nosotros
                </a>
              </div>
              <div>
                <a>
                  Venta
                </a>
              </div>
              <div>
                <a>
                  Renta
                </a>
              </div>
            </div>
            <div class="col-6">
              <div>
                <a>
                  Departamento
                </a>
              </div>
              <div>
                <a>
                  Casa
                </a>
              </div>
              <div>
                <a>
                  Terreno
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-3 col-xs-12 dg-col-social section-margin-bottom">
        <p>Síguenos</p>
        
        <div class="mb-2">
          <a href="">
            <i class="fab fa-facebook-f mr-2"></i>
          </a>
          <a href="">
            <i class="fab fa-instagram mr-2"></i>
          </a>
          <a href="">
            <i class="fab fa-whatsapp mr-2"></i>
          </a>
          <a href="">
            <i class="fab fa-google-plus-g mr-2"></i>
          </a>
        </div>                                
      </div>

      <div class="col-md-3 col-xs-12 dg-col-cuestion section-margin-bottom">
        <p>¿Tienes una pregunta?</p>
        <div>
          <a href="tel:0190012345678">
            01-900-1234-5678 
          </a> 
        </div>
      </div>

    </div>
  </div>
</div>
  
