<div class="client-area">
  <div class="result-holder">
    <div class="result-header">
      <h3>Mis propiedades</h3>
      <p style="display: inline">Bienvenido {{user.username}}</p>
      <p class="fa-pull-right" style="display: inline"><a href="mailto:contacto@heritagedevelopment.co">Contacta a un asesor</a></p>
    </div>
    <div class="result-area" >
      <div class="container-fluid" *ngIf="propiedades">
        <div class="row">
    
          <!-- Tarjeta de inmueble -->
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let propiedad of propiedades; let i=index;">
            <div class="card">
              <div class="image-viewport">
                <!-- Imagen por default -->
                <img *ngIf="!propiedad.urlsFotografias || propiedad.urlsFotografias.length === 0"
                  src="../../../assets/images/departamento-img.jpg" (click)="elegirPropiedadAMostar(i)"
                  data-toggle="modal" data-target="#detalleMiPropiedadModal"> 
                <!-- end Imagen por default -->
                <!-- Primera imagen de la propiedad -->
                <img *ngIf="propiedad.urlsFotografias && propiedad.urlsFotografias.length > 0"
                  [src]="propiedad.urlsFotografias[0]" (click)="elegirPropiedadAMostar(i)"
                  data-toggle="modal" data-target="#detalleMiPropiedadModal"> 
                <!-- Fin primera imagen de la propiedad -->
                <div class="propiedad-precio-renta" *ngIf="propiedad.precioRenta && propiedad.precioRenta > 0">
                  <span class="titulo">{{propiedad.tipoPropiedad}} en renta</span>
                  <span>{{propiedad.precioRenta | currency}} / mes</span>
                </div>
                <div class="propiedad-precio-venta" *ngIf="propiedad.precioVenta && propiedad.precioVenta > 0">
                  <span class="titulo">{{propiedad.nombre}}</span>
                  <span>{{propiedad.precioVenta | currency}}</span>
                </div>
              </div>
    
              <div class="card-body">
                <h5 class="card-title">{{propiedad.nombre}}</h5>
                <p class="card-text">{{propiedad.descripcion}}</p>
              </div>
              <a href="#" class="btn btn-link" data-toggle="modal" data-target="#detalleMiPropiedadModal" 
                (click)="elegirPropiedadAMostar(i)">Detalle</a>
              <div class="propiedad-estatus-area">
                <i class="fas fa-check-double" *ngIf="propiedad.estatus && propiedad.estatus === 'activo'" style="color: green;"></i>
                <i class="fas fa-check" *ngIf="!propiedad.estatus || propiedad.estatus !== 'activo'"  style="color: blue;"></i>
              </div>
            </div>
          </div>
          <!-- Fin tarjeta de inmueble -->
    
        </div>
      </div>
      <div style="margin-bottom: 102px;"></div>
    </div>
  </div>
  <button type="button" class="btn btn-heritage btn-circle btn-circle-lg" [routerLink]="['/clients/agregar/propiedad']" >
    <i class="fas fa-plus"></i>
  </button>
</div>

<!-- Modal Detalle Propiedad -->
<div class="modal fade" id="detalleMiPropiedadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <app-my-property-detail
    [propiedadAMostrar]="(propiedadAMostrar)">
  </app-my-property-detail>
</div>
