<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header text-center">
        <img src="../../../assets/images/logo_hd_texto.png" />
    </div>

    <ul class="list-unstyled components">
        <li routerLink="/admin/dashboard" routerLinkActive="active">
            <a class="navbar-link" onclick="toggleSidebar()">
                <i class="fas fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li routerLink="/admin/admin-users" routerLinkActive="active"> 
            <a class="navbar-link" onclick="toggleSidebar()">
                <i class="fas fa-user-tie"></i>
                <span>Usuarios Portal</span>
            </a>
        </li>
        <li routerLink="/admin/property-users" routerLinkActive="active">
            <a class="navbar-link" onclick="toggleSidebar()">
                <i class="fas fa-user"></i>
                <span>Usuarios Inmuebles</span>
            </a>
        </li>
        <li routerLink="/admin/estate" routerLinkActive="active">
            <a class="navbar-link" onclick="toggleSidebar()">
                <i class="fas fa-building"></i>
                <span>Inmuebles</span>
            </a>
        </li>
        <!-- <li>
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Usuarios Adminitrativos</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#" onclick="toggleSidebar()">Lista</a>
                </li>
                <li>
                    <a href="#" onclick="toggleSidebar()">Alta</a>
                </li>
                <li>
                    <a href="#" onclick="toggleSidebar()">Home 3</a>
                </li>
            </ul>
        </li> -->
        <li>
            <a class="navbar-link" (click)="logout()">
                <i class="fas fa-power-off"></i>
                <span>Salir</span>
            </a>
        </li>
    </ul>
</nav>
<!-- End sidebar -->
