<div class="contacto-background">

  <!-- Contenido página contacto -->
  <div class="page-area">
    
    <!-- Botones tipo de contacto -->
    <div class="dg-contacto-botones-tipo-de">
      <div class="content">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="dg-tipo-contacto-exterior">
                <div class="dg-tipo-contacto-interior">
                    <img class="dg-img"
                      src="../../../assets/images/icono1-contacto.png" 
                      alt="" />
                    <div class="dg-quiero-label">
                      <span>Quiero</span>
                    </div>
                    <div class="dg-descripcion-tipo-contacto">
                      <span>Comprar o Rentar</span>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="dg-tipo-contacto-exterior">
                <div class="dg-tipo-contacto-interior">
                    <img class="dg-img"
                      src="../../../assets/images/icono2-contacto.png" 
                      alt="" />
                    <div class="dg-quiero-label">
                      <span>Quiero</span>
                    </div>
                    <div class="dg-descripcion-tipo-contacto">
                      <span>Vender o Poner en Renta</span>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin botones tipo de contacto -->

  </div>
  <!-- Fin contenido página contacto -->

  <app-footer></app-footer>
</div>
