.contacto-ofertar-background {
    background-color: #EBEBEB !important;
    background: url("../../../../assets/images/img-banner-vender.jpg"); 
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 306px;
    @media screen and (min-width: 1024px) {
        background-size: 100% auto;
        
    }
    @media screen and (min-width: 1200px) {
        background-position-y: -10%;
    }
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.page-area {
    background-color: #EBEBEB;
    margin-top: 306px;
    padding-top: 0px;
    min-height: calc(100vh - 403px);
}

.dg-ofertar-titulo {
    padding-right: 10%;
    padding-left: 10%;

    .dg-title {
        text-align: center;
        margin-top: 3em;
        padding-top: 1em;
        h2 {
            border-bottom: solid 2px #87b23e;
            font-size: 24px;
            font-weight: normal;
            display: inline-block;
            padding: 9px 3em;
        }
    }
}

.dg-ofertar-subtitulo {
    text-align: center !important;
}

.card-holder {
    min-width: 360px;
    width: calc(100vh / 3);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}

.dg-ofertar-formularios {
    margin-top: 24px;
    padding-bottom: 12px;
    padding-right: 10%;
    padding-left: 10%;

    .boton-enviar {
        margin-top: 3em;
        :focus {
            outline:0;
        }
        background-color: rgb(135, 178, 62);
        color: white;
        border-color: rgb(135, 178, 62);
        :hover {
            background-color: rgb(135, 178, 62);
            border-color: green;
        }
    }
}

.boton-enviar {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
    :focus {
        outline:0;
    }
    background-color: rgb(135, 178, 62);
    color: white;
    border-color: rgb(135, 178, 62);
    :hover {
        background-color: rgb(135, 178, 62);
        border-color: green;
    }
}

.error-label {
    font-size: 12px;
    color: red;
}

.password-creation-hint {
    font-size: 12px;
    color: black;
}

.footer-text {
    text-align: center;
}

.loading-holder {
    background-color: #87b23e;
    height: 324px;
}
