<div class="contacto-ofertar-background">
  
  <!-- Contenido página contacto / adquirir -->
  <div class="page-area">

    <!-- Adquirir título -->
    <div class="dg-ofertar-titulo">
      <div class="dg-title">
        <h2>¿Quieres vender o poner a renta una propiedad?</h2>
      </div>
    </div>
    <div class="dg-ofertar-subtitulo">
      <p>Regístrate con nosotros</p>
    </div>
    <!-- Fin adquirir título -->
    
    <!-- Tarjeta formulario registro -->
    <div class="card-holder">
      <div class="card">
        <div class="card-header">
          <h5 style="margin-bottom: 0 !important;">Registro</h5>
        </div>
        <div class="card-body">
          <div *ngIf="!informationSended  && !cargando">
            <form>
              <label for="registroCorreo">Email</label>
              <div class="form-group">
                <input type="email" class="form-control form-control-sm" id="registroCorreo" name="registroCorreo" 
                  placeholder="Email" [(ngModel)]="email"/>
                <div class="error-label" *ngIf="emailError">
                  Escribe un correo válido
                </div>
              </div>
              <label for="registroPassword">Contraseña</label>
              <div class="form-group">
                <input type="password" class="form-control form-control-sm" id="registroPassword" name="registroPassword" 
                  placeholder="Contraseña" [(ngModel)]="password"/>
                <div class="error-label" *ngIf="passwordError">
                  Escribe una contraseña válida.
                </div>
                <div class="password-creation-hint">
                  La contraseña debe contener mínimo 6 caracteres, máximo 9 caracteres, debe contener mínimo un número, mínimo una letra mayúscula y mínimo una letra minúscula.
                </div>
              </div>
              <div class="form-group">
                <button class="btn boton-enviar mb-4 btn-block" (click)="hacerRegistro()"> 
                  Registrarme
                </button>
              </div>
            </form>
          </div>
          <div *ngIf="informationSended && !cargando" style="text-align: center">
            Se ha enviado un correo a la dirección que proporcionaste. Abre el correo y dirigete a la liga que indica para activar tu usuario.
          </div>
          <div class="loading-holder" *ngIf="cargando">
            <app-loading
              [mensaje]="'enviando formulario'"></app-loading>
          </div>
        </div>
        <div class="card-footer">
          <div class="footer-text">
              <p style="margin-bottom: 0 !important;">¿Ya estás registrado? <a href="/#/login">Inicia Sesión</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Adquirir formularios -->
    <!-- <div class="dg-ofertar-formularios">
      <div class="content">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <form>
              <label for="ofertarTitulo">Quiero:</label>
              <div class="form-group">
                <select class="form-control form-control-sm" id="ofertarTipo">
                  <option>Vender</option>
                  <option>Poner en Renta</option>
                </select>
              </div>
              <label for="ofertarDatosPersonales">Datos Personales:</label>
              <div class="form-group">
                <input type="text" class="form-control form-control-sm" 
                  id="ofertarNombreCompleto" placeholder="Nombre Completo">
              </div>
              <div class="form-group">
                <input type="email" class="form-control form-control-sm" 
                  id="ofertarCorreoElectronico" placeholder="Email">
              </div>
              <div class="form-group">
                  <input type="number" class="form-control form-control-sm" 
                  id="ofertarTelefono" placeholder="Teléfono">
              </div>
              <label for="ofertarDatosInmueble">Datos del Inmueble:</label>
              <div class="form-group">
                <input type="text" class="form-control form-control-sm" 
                  id="ofertarInmuebleNombre" placeholder="Nombre">
              </div>
              <div class="form-group">
                <input type="number" class="form-control form-control-sm" 
                  id="ofertarInmuebleM2Terreno" placeholder="M2 terreno">
              </div>
              <div class="form-group">
                <input type="number" class="form-control form-control-sm" 
                  id="ofertarInmuebleM2Construccion" placeholder="M2 construcción">
              </div>
              <div class="form-group">
                <input type="number" class="form-control form-control-sm" 
                  id="ofertarInmuebleNiveles" placeholder="Niveles (número de pisos)">
              </div>
              <div class="form-group">
                <input type="text" class="form-control form-control-sm" 
                  id="ofertarInmuebleNumRecamaras" placeholder="Num Recámaras">
              </div>
              <div class="form-group">
                <input type="number" class="form-control form-control-sm" 
                  id="ofertarInmuebleNumBanos" placeholder="Num Baños">
              </div>
              <div class="form-group">
                <input type="number" class="form-control form-control-sm" 
                  id="ofertarInmuebleNumMediosBanos" placeholder="Num Medios Baños">
              </div>
              <div class="form-group">
                <input type="number" class="form-control form-control-sm" 
                  id="ofertarInmuebleNumCajonesEstacionamiento" placeholder="Num Cajones de Estacionamiento">
              </div>
              <div class="form-group">
                <textarea type="text" class="form-control form-control-sm" 
                  id="ofertarInmuebleDescribirAmenidades" placeholder="Describir Amenidades"></textarea>
              </div>
              <label for="ofertarDatosInmueble">Fotos del inmueble:</label>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="ofertaAgregarFoto" accept="image/x-png,image/gif,image/jpeg">
                  <label class="custom-file-label" for="ofertaAgregarFoto">Escoger archivo</label>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text" id="">Cargar</span>
                </div>
              </div>
              <div class="form-group">
                <button class="btn boton-enviar mb-4 btn-block"> 
                  Enviar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Fin adquirir formularios -->
  
  </div>
  <app-footer></app-footer>
</div>
