<div class="container-fluid property-display-hack" *ngIf="propiedad">

    <!-- Titulo resumen -->
    <div class="row">
      <div class="col-12">
        <div class="resumen-nombre-propiedad">
          <!-- <div class="barra-verde"></div> -->
          <span>{{propiedad.nombre}}</span>
        </div>
      </div>
    </div>
    <!-- Fin titulo resumen -->

    <!-- Carousel de fotos y mapa -->
    <div class="row align-items-end">
      <div class="col-md-12 col-sm-12 col-no-padding">
        <!-- <div id="carouselComponent" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" *ngFor="let url of propiedad.urlsFotografias; let i=index;"
              [ngClass]="{ 'active': (i === 0 && !mapaDeImagenes) || (i === 0 && mapaDeImagenes.size === 0) }">
              <img [src]="url" alt="...">
            </div>
            <div class="carousel-item active" *ngFor="let objeto_imagen of mapaDeImagenes | keyvalue; let i=index;"
              [ngClass]="{ 'active': i === 0 }">
              <img [src]="objeto_imagen.value">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselComponent" role="button" data-slide="prev">
            <i class="fas fa-chevron-left"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselComponent" role="button" data-slide="next">
            <i class="fas fa-chevron-right"></i>
            <span class="sr-only">Next</span>
          </a>
        </div> -->
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </div>
      <div class="col-md-12 col-sm-12 col-no-padding">
        <div id="map" #map class="ubicacion-propiedad">
        </div>
      </div>
    </div>
    <!-- Fin carousel de fotos y mapa-->

    <!-- Área de precios -->
    <div class="row">
      <div class="col" *ngIf="(propiedad.precioVenta) as precioVenta">
        <div class="resumen-display-de-precio text-center">
          <div class="titulo">
            <span>Precio en venta</span>
          </div>
          <div class="precio">
              <span>{{precioVenta | currency:'MXN'}}</span>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="(propiedad.precioRenta) as precioRenta">
        <div class="resumen-display-de-precio text-center">
          <div class="titulo">
            <span>Precio en renta</span>
          </div>
          <div class="precio">
            <span>{{precioRenta | currency:'MXN'}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin área de precios -->

    <!-- Área de dirección -->
    <div class="resumen-display-direccion" *ngIf="(propiedad.direccion) as direccion">
      <div class="row" *ngIf="direccion != ''">
        <div class="col-sm-12 col-md-2">
          <div class="titulo">
            <span>Dirección</span>
          </div>
        </div>
        <div class="col-sm-12 col-md-10">
          <div class="direccion">
            <span>{{direccion}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin área de dirección-->

    <!-- Área de detalles -->
    <div class="row">
      <div class="col" *ngIf="(propiedad.tipoPropiedad) as tipoPropiedad">
        <div class="resumen-display-detalle" *ngIf="tipoPropiedad != ''">
          <div class="icono">
            <i class="far fa-question-circle"></i>
          </div>
          <div class="nombre-detalle">
            <span>Tipo de propiedad</span>
          </div>
          <div class="valor-detalle">
            <span>{{tipoPropiedad}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="(propiedad.nombre) as nombre">
        <div class="resumen-display-detalle" *ngIf="nombre != ''">
          <div class="icono">
            <i class="fas fa-signature"></i>
          </div>
          <div class="nombre-detalle">
            <span>Nombre</span>
          </div>
          <div class="valor-detalle">
            <span>{{nombre}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="(propiedad.m2Construccion) as m2Construccion">
        <div class="resumen-display-detalle" *ngIf="m2Construccion && m2Construccion > 0">
          <div class="icono">
            <i class="fas fa-hammer"></i>
          </div>
          <div class="nombre-detalle">
            <span>M2 Construcción</span>
          </div>
          <div class="valor-detalle">
            <span>{{m2Construccion}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="(propiedad.recamaras) as recamaras">
        <div class="resumen-display-detalle" *ngIf="recamaras && recamaras > 0">
          <div class="icono">
            <i class="fas fa-bed"></i>
          </div>
          <div class="nombre-detalle">
            <span>Recámaras</span>
          </div>
          <div class="valor-detalle">
            <span>{{recamaras}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="(propiedad.banos) as banos">
        <div class="resumen-display-detalle" *ngIf="banos && banos > 0">
          <div class="icono">
            <i class="fas fa-shower"></i>
          </div>
          <div class="nombre-detalle">
            <span>Baños</span>
          </div>
          <div class="valor-detalle">
            <span>{{banos}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="(propiedad.mediosBanos) as mediosBanos">
        <div class="resumen-display-detalle" *ngIf="mediosBanos && mediosBanos > 0">
          <div class="icono">
            <i class="fas fa-toilet"></i>
          </div>
          <div class="nombre-detalle">
            <span>Medios Baños</span>
          </div>
          <div class="valor-detalle">
            <span>{{mediosBanos}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="(propiedad.cajonesEstacionamiento) as cajonesEstacionamiento">
        <div class="resumen-display-detalle" *ngIf="cajonesEstacionamiento && cajonesEstacionamiento > 0">
          <div class="icono">
            <i class="fas fa-car"></i>
          </div>
          <div class="nombre-detalle">
            <span>Cajones de estacionamiento</span>
          </div>
          <div class="valor-detalle">
            <span>{{cajonesEstacionamiento}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="(propiedad.m2Terreno) as m2Terreno">
        <div class="resumen-display-detalle" *ngIf="m2Terreno && m2Terreno > 0">
          <div class="icono">
            <i class="far fa-square"></i>
          </div>
          <div class="nombre-detalle">
            <span>M2 Terreno</span>
          </div>
          <div class="valor-detalle">
            <span>{{m2Terreno}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="(propiedad.niveles) as niveles">
        <div class="resumen-display-detalle" *ngIf="niveles > 0">
          <div class="icono">
            <i class="fas fa-align-justify"></i>
          </div>
          <div class="nombre-detalle">
            <span>Niveles (pisos)</span>
          </div>
          <div class="valor-detalle">
            <span>{{niveles}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="(propiedad.tiempoMinimoRenta) as tiempoMinimoRenta">
        <div class="resumen-display-detalle" *ngIf="tiempoMinimoRenta && tiempoMinimoRenta > 0">
          <div class="icono">
            <i class="far fa-calendar-alt"></i>
          </div>
          <div class="nombre-detalle">
            <span>Tiempo mínimo renta (meses)</span>
          </div>
          <div class="valor-detalle">
            <span>{{tiempoMinimoRenta}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="(propiedad.capacidadCisterna) as capacidadCisterna">
        <div class="resumen-display-detalle" *ngIf="capacidadCisterna && capacidadCisterna > 0">
          <div class="icono">
            <i class="fas fa-tint"></i>
          </div>
          <div class="nombre-detalle">
            <span>Capacidad de cisterna (L)</span>
          </div>
          <div class="valor-detalle">
            <span>{{capacidadCisterna}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="(propiedad.edadPropiedad) as edadPropiedad">
        <div class="resumen-display-detalle" *ngIf="edadPropiedad && edadPropiedad > 0">
          <div class="icono">
            <i class="fas fa-clock"></i>
          </div>
          <div class="nombre-detalle">
            <span>Edad de la propiedad (años)</span>
          </div>
          <div class="valor-detalle">
            <span>{{edadPropiedad}}</span>
          </div>
        </div>
      </div>

      <div class="col" *ngIf="(propiedad.costoMantenimiento) as costoMantenimiento">
        <div class="resumen-display-detalle" *ngIf="costoMantenimiento && costoMantenimiento > 0">
          <div class="icono">
            <i class="fas fa-tools"></i>
          </div>
          <div class="nombre-detalle">
            <span>Costo del mantenimiento</span>
          </div>
          <div class="valor-detalle">
            <span>{{costoMantenimiento | currency:'MXN'}}</span>
          </div>
        </div>
      </div>

    </div>
    <!-- Fin área de detalles -->

    <!-- Área de descripcion y amenidades -->
    <div class="row mb-5">
      <div class="col-12 mt-5" *ngIf="propiedad.descripcion">
        <div class="resumen-display-descripcion-amenidades text-center" *ngIf="propiedad.descripcion != ''">
          <div class="titulo">
            <span>Descripción de la propiedad</span>
          </div>
          <div class="text">
            <span>{{propiedad.descripcion}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 mt-5" *ngIf="propiedad.amenidades">
        <div class="resumen-display-descripcion-amenidades text-center" *ngIf="propiedad.amenidades.length > 0">
          <div class="titulo">
            <span>Amenidades</span>
          </div>
          <div class="text">
            <span *ngFor="let amenidad of propiedad.amenidades" class="badge badge-pill badge-light">
              {{amenidad}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin área de descripcion y amenidades -->

  </div>
