<nav class="navbar navbar-expand-lg navbar-light navbar-bg fixed-top">
  <a class="navbar-brand" routerLink="/inmuebles">
    <img src="../../../assets/images/logo_hd_texto.png" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/nosotros" routerLinkActive="active" onclick="closenavbar()">
          NOSOTROS
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/inmuebles/resultados" routerLinkActive="active" onclick="closenavbar()">
          INMUEBLES
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" routerLink="/contacto" routerLinkActive="active" onclick="closenavbar()">
          CONTACTO
        </a>
        <a class="nav-link dropdown-toggle dg-dropdown-wrapper" href="#" id="navbarDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/contacto/adquirir" routerLinkActive="active"
            onclick="closenavbar()">Comprar o Rentar</a>
          <a class="dropdown-item" routerLink="/contacto/ofertar" routerLinkActive="active"
            onclick="closenavbar()">Vender o Poner en Renta</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
