.modal-dialog {
    width: calc(100vw - 15px);
    max-width: 768px;
}

.modal-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.boton-heritage {
    background-color: #87b23e;
    color: white;
}

.error-label {
    font-size: 12px;
    color: red;
}

.loading-background {
    background-color: #87b23e;
    height: 500px;
}